---
//import dependinces
import Layout from "../../layouts/Layout.astro";
import CardCompany from "../../components/cards/CardCompany.jsx"
import Loading from "../../components/Loading.jsx";
// src/pages/brokers.astro
import { getBrokers } from "../../utils/StoreData.js"

// Fetch the data
const { data: brokers, error, isLoading } = await getBrokers();
 
const allData = [{...brokers}]

const myBrokers = allData[0]["Brokers"] || []
// Canonical URL
const path = new URL(Astro.url.pathname, Astro.site).href;


---
<Layout title="الوسطاء" path={path} description="هذه الصفحة يتم عرض فيها جميع شركات التداول المتاحة في سوق التداول">
    <div id="loading">
        <Loading client:load />
      </div>
    
    <main class="flex flex-col gap-y-20  overflow-hidden p-2 lg:p-10">
        <div class="evaluation-company text-center">
            <h1 class="lg:text-5xl text-xl text-emerald-700 font-bold dark:text-gray">تقييم شركات التداول</h1>
            <p class="lg:text-xl lg:text-right dark:text-white ">يقدم موقع كوبون تقييمات شاملة لشركات التداول عبر الإنترنت العاملة في سوق الفوركس، حيث يقوم فريق من الخبراء المتخصصين في هذا المجال بتحليل وتقييم تلك الشركات بكل موضوعية واحترافية.

                ستجد هنا كافة معلومات مفصلة ودقيقة عن مختلف شركات التداول عبر الإنترنت التي تقدم خدماتها للمتداولين العرب، حيث يتم تغطية جوانب عديدة مثل سمعة الشركة وخبرتها، والأدوات والمنصات التي توفرها، وشروط التداول والرافعة المالية، وسياسات الإيداع والسحب، بالإضافة إلى مستوى الدعم الفني والخدمة للعملاء.
                
                تهدف هذه التقييمات المعمقة إلى تزويد المتداولين بالمعلومات الضرورية التي تساعدهم على اتخاذ قرارات مدروسة حول الشركة التي يرغبون في التعامل معها، حيث أن اختيار شركة تداول عبر الإنترنت موثوقة وآمنة له أهمية كبيرة في ضمان تجربة تداول ناجحة وفعالة.
              </p>
             
        </div>
        <div class="list-company ">
            <h2 class="text-center lg:text-4xl text-emerald-700 font-bold mb-12">قائمة تقييم شركات التداول عبر الانترنت</h2>
            <div >
                
              <div class="flex justify-around flex-col md:flex-row flex-wrap">
                  <CardCompany brokers = {myBrokers} client:load />
                </div>
            </div>
        </div>
    </main>
        
</Layout>

<style>
    main{
        margin-top: 140px;
    }
    .evaluation-company p{
        margin-top:20px
    }
    ul{
        text-decoration: none ;
    }
    footer{
        text-align: center;
    }
</style>
<script>
    window.onload = () => {
      const loadingElement = document.getElementById('loading');
      const contentElement = document.getElementById('content');
      
      // Hide loading and show content
    //   loadingElement.style.display = 'none';
    loadingElement?.classList.add('hidden');
      contentElement?.classList.remove('hidden');
    };
  </script>