
<div class="md:mx-auto md:container px-4">
  <div class="pt-10 md:pt-40">
      <div class="container mx-auto" id="about">
          <div class="flex flex-wrap items-center pb-12">
              <div class="md:w-1/2 lg:w-2/3 w-full xl:pr-20 md:pr-6">
                  <div class="py-2 text-color">
                      <h1 role="heading" class="text-2xl dark:text-white  lg:text-6xl md:leading-snug tracking-tighter f-f-l font-black text-teal-500">من نحن</h1>
                      <p role="contentinfo" class="text-lg  bg-teal-500 rounded-lg p-5  m-5 text-white lg:text-3xl lg:leading-7 md:leading-10 f-f-r py-4 md:py-8" style="line-height: 1.4">
                        
                        فلاجيدو هي منصة عربية مليئة بمجموعة من الخبراء في قطاع التداول والاستثمار</p>
                     
                  </div>
              </div>
              <div class="lg:w-1/3 md:w-1/2 w-full relative h-96 flex items-end justify-center">
                  <img class="absolute w-full h-full inset-0 object-cover object-center rounded-md" src="https://res.cloudinary.com/dt9k74vof/image/upload/v1709987225/empty_select.original.jpegquality-80.format-webp_tk6m8e.webp" alt="about flagedu" role="img" />
                  <div class="relative z-10 bg-white rounded shadow p-6 w-10/12 -mb-20">
                      <div class="flex items-center justify-between w-full sm:w-full mb-8">
                          <div class="flex items-center">
                              <div class="p-4 bg-yellow-200 rounded-md">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/alternating_description_with_cards-svg2.svg" alt="icon">
                              </div>
                              <div class="ml-6">
                                  <p class="mb-1 leading-5 text-gray-800 font-bold text-2xl">2,330</p>
                                  <p class="text-gray-600 dark:text-gray-200 text-sm tracking-normal font-normal leading-5">clients</p>
                              </div>
                          </div>
                          <div>
                              <div class="flex items-center pl-3 text-green-400">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/alternating_description_with_cards-svg3.svg" alt="arrow">
                                  <p class="text-green-700 text-xs tracking-wide font-bold leading-normal pl-1">7.2%</p>
                              </div>
                              <p class="font-normal text-xs text-right leading-4 text-green-700 tracking-normal">Increase</p>
                          </div>
                      </div>
                      <div class="relative mb-3">
                          <hr class="h-1 rounded-sm bg-gray-200" />
                          <hr class="absolute top-0 h-1 w-7/12 rounded-sm bg-teal-700" />
                      </div>
                      <h2 class="text-base text-gray-600 dark:text-gray-200 font-normal tracking-normal leading-5">Yearly Goal</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="pb-32 pt-16">
      <div class="mx-auto">
          <div class="flex flex-wrap flex-row-reverse items-center">
              <div class="md:w-1/2 lg:w-2/3 w-full lg:pl-20 md:pl-10 sm:pl-0 pl-0">
                  <div class="py-2 text-color m-3">
                      <div>
                        <h1 style="line-height: 1.4"  role="heading" class="text-2xl dark:text-white lg:text-6xl tracking-tighter md:leading-snug f-f-l font-black text-teal-600 mx-4">أعوام  من الخبرة في مجال الاستثمار</h1></div>
                      <p role="contentinfo"    style="line-height: 1.4"  class="text-lg bg-teal-500 rounded-lg p-5  m-5 text-white lg:text-3xl leading-7 md:leading-10 f-f-r py-8 mx-4">
                        مهمتنا هي مساعدة المتداولين مثلك في العثور على الوسيط المثالي الذي يناسب أسلوب التداول وتفضيلاتهم. نحن نتفهم أن العثور على الوسيط المناسب يمكن أن يكون مهمة شاقة ، خاصة مع وجود العديد من الخيارات المتاحة في السوق. 
                        
                        </p>
               
                  </div>
              </div>
              <div class="lg:w-1/3 md:w-1/2 w-full relative h-96 flex items-end justify-center">
                  <img class="absolute w-full h-full inset-0 object-cover object-center rounded-md" src="https://res.cloudinary.com/dt9k74vof/image/upload/v1709989162/flagedu_exparts_bonkb2.webp" alt="A group of three having a meeting" role="img" />
                  <div class="relative z-10 p-4 bg-white shadow rounded mx-auto w-9/12 -mb-20">
             
     
                      <div class="my-4 flex items-center">
                          <span class="text-gray-600 dark:text-gray-200">
                             <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/alternating_description_with_cards-svg4.svg" alt="account">
                          </span>
                          <p class="ml-1 text-sm text-gray-800 leading-3 tracking-normal font-normal mx-3">Consultancy Flagedu</p>
                      </div>
                      <div class="mt-3 flex items-center">
                          <span class="text-gray-600 dark:text-gray-200">
                             <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/alternating_description_with_cards-svg5.svg" alt="dollar">
                          </span>
                          <p class="ml-1 mb=3 text-sm text-gray-800 leading-3 tracking-normal font- mx-3">2,354 </p>
                      </div>
<div class=" text-left">  
                      <a href="#sin-in " class= "  relative focus:outline-none mt-4 py-2 pr-10  bg-teal-700 text-white tracking-normal text-xs pl-3 cursor-pointer hover:opacity-90 focus:ring-2 focus:ring-offset-2 focus:ring-teal-700" role="button">
                        انضم الينا
                          <img  class="absolute inset-0 m-auto mr-3 icon icon-tabler icon-tabler-arrow-right" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/alternating_description_with_cards-svg6.svg" alt="arrow">
                      </a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
