

























































<div class="bg-white dark:bg-gray-800  my-4 py-6 sm:py-8 lg:py-20">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl dark:text-gray-300">صقل مهاراتك في عالم الاستثمار 
      </h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
        واستعد لتجربة تعليمية استثنائية
      </div>
    <!-- text - end -->

    <div class="grid gap-12 sm:grid-cols-2 xl:grid-cols-3 xl:gap-16 cards  relative">
      <!-- feature - start -->
      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1709787333/download_kg6b0b.png" class="absolute top-10 right-0 z-0 " >
      <div class="flex flex-col items-center card ">
        <div class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white  shadow-lg md:h-14 md:w-14 md:rounded-xl">
          <svg class="h-6 w-6 text-slate-100"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="3" y1="4" x2="21" y2="4" />  <path d="M4 4v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-10" />  <line x1="12" y1="16" x2="12" y2="20" />  <line x1="9" y1="20" x2="15" y2="20" />  <path d="M8 12l3 -3l2 2l3 -3" /></svg>
        </div>

        <h3 class="mb-2 text-center text-lg font-semibold md:text-xl dark:text-gray-300">مقالات تعليمية </h3>
        <a href="#sin-in" class="font-bold text-teal-500 transition duration-100 hover:text-teal-600 active:text-teal-700">المزيد</a>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex flex-col items-center card">
        <div class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
          <svg class="h-6 w-6 text-slate-100"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="4" y="4" width="16" height="16" rx="2" />  <line x1="8" y1="4" x2="8" y2="20" />  <line x1="16" y1="4" x2="16" y2="20" />  <line x1="4" y1="8" x2="8" y2="8" />  <line x1="4" y1="16" x2="8" y2="16" />  <line x1="4" y1="12" x2="20" y2="12" />  <line x1="16" y1="8" x2="20" y2="8" />  <line x1="16" y1="16" x2="20" y2="16" /></svg>        </div>

        <h3 class="mb-2 text-center text-lg font-semibold md:text-xl dark:text-gray-300">فيديوهات تعليمية</h3>
        <a href="#sin-in" class="font-bold text-teal-500 transition duration-100 hover:text-teal-600 active:text-teal-700">المزيد</a>
      </div>
      <!-- feature - end -->

      <!-- feature - start -->
      <div class="flex flex-col items-center card">
        <div class="mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-teal-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
          <svg class="h-6 w-6 text-slate-100"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="3" y1="19" x2="3.01" y2="19" />  <path d="M7 19a4 4 0 0 0 -4 -4" />  <path d="M11 19a8 8 0 0 0 -8 -8" />  <path d="M15 19h3a3 3 0 0 0 3 -3v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -2.8 2" /></svg>
        </div>

        <h3 class="mb-2 text-center text-lg font-semibold md:text-xl dark:text-gray-300">دورات تدريبية مجانية
        </h3>
        <a href="#sin-in" class="font-bold text-teal-500 transition duration-100 hover:text-teal-600 active:text-teal-700">المزيد</a>
      </div>
      <!-- feature - end -->

    


    </div>
  </div>
</div>

<style>
  
.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

 
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
</style>