<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-10" >















<div class="flex items-center  text-center gap-4 py-20  flex-wrap justify-center w-full ">
<div class="flex flex-col gap-4   lg:1/2" id="why">  
	<span class="w-1/2 lg-w-1/3 bg-teal-100 text-teal-800 text-xs font-medium me-2 px-2 py-1 rounded dark:bg-gray-700 dark:text-teal-400 border border-teal-400 ">الاسئلة الشائعة</span>
	<img src="/public/images/fqa flagedu.webp">

	<header >
		<h1 class="text-2xl font-bold dark:text-teal-500 ">هل لديك المزيد من الأسئلة؟</h1>
		<div class="flex flex-col gap-2">
			<p class="text-balance dark:text-white"> لقد جمعنا أهم الموضوعات التي يهتم بها عملاؤنا في أغلب الأحيان</p>
			<p class="text-balance dark:text-white">. إذا لم تعثر على إجابة لسؤالك ، فيرجى الاتصال بدعم العملاء</p>
		</div>
	</header>
</div>


	<section class="flex flex-col px-8 w-full lg:w-1/2 gap-2 ">

		<button class="group rounded flex flex-col p-4 bg-[#f8fafc] shadow focus:bg-white transition focus:outline focus:outline-1 focus:outline-gray-300 hover:bg-teal-200">
			<div class="flex w-full items-center justify-between ">
				<span class="font-semibold m-3 ">لماذا عليك اختيار فلاجيدو؟</span>
				<span class="origin-center transition-transform duration-300 group-focus:rotate-[135deg] "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
					</svg>
				</span>
			</div>
			<div id="wrapper" class="grid grid-rows-[0fr] overflow-hidden transition-all duration-300 group-focus:grid-rows-[1fr] ">

				<p class="text-start min-h-0 opacity-0 transition-opacity duration-300 group-focus:opacity-100 ">
					فريقنا متمرس وذو خبرة في الصناعة المالية، نقدم مراجعات غير متحيزة ومعلومات غنية للوسطاء عبر الإنترنت، ونسعى لتبسيط عملية الاستثمار للجميع، مع التركيز على الشفافية ودعم العملاء بفريق مخصص ومبتكر يبحث باستمرار عن طرق لتطوير وتحسين الخدمات والأدوات المقدمة.			</div>
		</button>
		<button class="group rounded flex flex-col p-4 bg-[#f8fafc] shadow focus:bg-white transition focus:outline focus:outline-1 focus:outline-gray-300 hover:bg-teal-200">
			<div class="flex w-full items-center justify-between">
				<span class="font-semibold m-3" >ما الخدمات التي يقدمها فلاجيدو ؟</span>
				<span class="origin-center transition-transform duration-300 group-focus:rotate-[135deg]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
					</svg>
				</span>
			</div>
			<div id="wrapper" class="grid grid-rows-[0fr] overflow-hidden transition-all duration-300 group-focus:grid-rows-[1fr]">

				<p class="text-start min-h-0 opacity-0 transition-opacity duration-300 group-focus:opacity-100 ">
					
يقدم فلاجيدو مجموعة كبيرة من الخدمات  والتي تشمل    مراجعة شركات التداول و التعليم  والاخبار الحصرية وخدمة  التوصيات الفورية وكذلك خدمات ادارة الحسابات ونسخ الصفقات 			</div>
		</button>
		<button class="group rounded flex flex-col p-4 bg-[#f8fafc] shadow focus:bg-white transition focus:outline focus:outline-1 focus:outline-gray-300 hover:bg-teal-200 ">
			<div class="flex w-full items-center justify-between">
				<span class="font-semibold m-3">كيف نقوم بمراجعة الشركات؟</span>
				<span class="origin-center transition-transform duration-300 group-focus:rotate-[135deg]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
					</svg>
				</span>
			</div>
			<div id="wrapper" class="grid grid-rows-[0fr] overflow-hidden transition-all duration-300 group-focus:grid-rows-[1fr]">

				<p class="text-start min-h-0 opacity-0 transition-opacity duration-300 group-focus:opacity-100 ">
عملية مراجعة الشركات عملية دقيقة  تتم بمعايير عالية من خبراء فلاجيدو  حيث ننظر الى الشركة من عدة جوانب تشمل التراخيص والامان وتجربتنا لها ولمنصتها  وكذالك اراء المتدولين  كي نضمن  قدر كبير من الثقة قبل ترشيح الوسيط للمتداولين			</div>
		</button>
		<button class="group rounded flex flex-col p-4 bg-[#f8fafc] shadow focus:bg-white transition focus:outline focus:outline-1 focus:outline-gray-300 hover:bg-teal-200">
			<div class="flex w-full items-center justify-between">
				<span class="font-semibold m-3">كيف تحصل علي استشارة مجانية؟</span>
				<span class="origin-center transition-transform duration-300 group-focus:rotate-[135deg]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
					</svg>
				</span>
			</div>
			<div id="wrapper" class="grid grid-rows-[0fr] overflow-hidden transition-all duration-300 group-focus:grid-rows-[1fr]">

				<p class="text-start min-h-0 opacity-0 transition-opacity duration-300 group-focus:opacity-100 ">
			الامر بسيط جدا كل ما عليك هو التوجه الي زر تواصل  معنا وسيتم الرد مباشرة من خلال خدمة فريق فلاجيدو
				</p>
			</div>
		</button>
		<button class="group rounded flex flex-col p-4 bg-[#f8fafc] shadow focus:bg-white transition focus:outline focus:outline-1 focus:outline-gray-300 hover:bg-teal-200">
			<div class="flex w-full items-center justify-between">
				<span class="font-semibold m-3">كيف تقوم بالتسجيل من  خلال فلاجيدو؟</span>
				<span class="origin-center transition-transform duration-300 group-focus:rotate-[135deg]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
					</svg>
				</span>
			</div>
			<div id="wrapper" class="grid grid-rows-[0fr] overflow-hidden transition-all duration-300 group-focus:grid-rows-[1fr]">

				<p class="text-start min-h-0 opacity-0 transition-opacity duration-300 group-focus:opacity-100 ">
					
					
					اضغط علي تسجيل و قم بإدخال بياناتك وسيتم التواصل معك
				
				</p>
			</div>
		</button>
		<button class="group rounded flex flex-col p-4 bg-[#f8fafc] shadow focus:bg-white transition focus:outline focus:outline-1 focus:outline-gray-300 hover:bg-teal-200">
			<div class="flex w-full items-center justify-between">
				<span class="font-semibold m-3">كيف تحصل علي توصيات والتعليم مجانا؟</span>
				<span class="origin-center transition-transform duration-300 group-focus:rotate-[135deg]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
					</svg>
				</span>
			</div>
			<div id="wrapper" class="grid grid-rows-[0fr] overflow-hidden transition-all duration-300 group-focus:grid-rows-[1fr]">

				<p class="text-start min-h-0 opacity-0 transition-opacity duration-300 group-focus:opacity-100 ">
 بمجرد التسجيل   معنا يمكنك الحصول  علي التوصيات المجانية وكذلك الحصول  علي كورسات تعليم التداول الخاصة بنا.		</div>
		</button>
	</section>
</div>