
<div class="lg:flex items-center justify-between pt-10" dir="rtl">
    <div class="lg:w-1/2 w-full pt-10">






        <h1 role="heading" class="md:text-5xl text-3xl font-bold leading-10 mt-3 text-gray-800 dark:text-white my-3 text-center " style="line-height: 1.2;"> 
            
            
            لماذا يمكنك الثقة في توصياتنا التداولية؟ 

               
        </h1>
        <p class="text-base leading-4 text-gray-600 dark:text-gray-200 text-center ">
        
            لأننا نقدم لك أفضل فرص الربح من السوق
            تتمثل في:
        </p>
     
        <img class="w-full object-contain" src="https://res.cloudinary.com/dt9k74vof/image/upload/v1709798950/copy/flagedu_axua7f.webp" alt="flagedu" role="img"  />

    </div>
        <div class="xl:w-1/2 lg:w-7/12 relative w-full lg:mt-0 mt-12 md:px-8 cards" role="list">
        <img src="https://i.ibb.co/0n6DSS3/bgimg.png" class="absolute w-full -ml-12 mt-24 " alt="background circle images" />
       
       


        <div role="listitem" class="bg-white dark:bg-gray-800 cursor-pointer shadow rounded-lg p-8 relative z-30 card ">
            <div class="md:flex items-center justify-between card">
                <h2 class="text-2xl font-regular leading-6 text-gray-800 dark:text-white"
                >
        عائد عالي
                </h2>
               
            </div>
            <p class="md:w-80 text-base leading-6 mt-4 text-gray-600 dark:text-gray-200">
            
                أعلى عائد ممكن من الصفقات المفتوحة.                
            </p>
        </div>




        <div role="listitem" class="bg-white dark:bg-gray-800 cursor-pointer shadow rounded-lg mt-3 flex relative z-30 card ">
            <div class="w-2.5 h-auto bg-teal-700 rounded-tl-md rounded-bl-md"></div>
            <div class="w-full p-8">
                <div class="md:flex items-center justify-between">
                    <h2 class="text-2xl font-regular leading-6 text-gray-800 dark:text-white"> تحليلات دقيقة</h2>
                    <p class="text-sm md:mt-0 mt-4 font-regular leading-6 text-gray-800 dark:text-white">مجانا</p>
                </div>
                <p class="md:w-80 text-base leading-6 mt-4 text-gray-600 dark:text-gray-200"
                >
                تحليلات فنية وأساسية دقيقة لضمان اتخاذ القرارات الصائبة.
                    
                </p>
            </div>
        </div>


        <div role="listitem" class="bg-white dark:bg-gray-800 cursor-pointer shadow rounded-lg p-8 relative z-30 mt-7 card ">
            <div class="md:flex items-center justify-between">
                <h2 class="text-2xl font-regular leading-6 text-gray-800 dark:text-white"
                >
                قرارات مدروسة

                </h2>
                <p class="text-sm md:mt-0 mt-4 font-regular leading-6 text-gray-800 dark:text-white"> مجانا</span></p>
            </div>
            <p class="md:w-80 text-base leading-6 mt-4 text-gray-600 dark:text-gray-200"
            
            >
            قرارات مدروسة مبنية على أحدث البيانات والتوجيهات.

        </p>
        </div>
    </div>
</div>






















<style>
  
    .cards .card {
  
      
   
    

    
     
      cursor: pointer;
      transition: 400ms;
    }
    
    .cards .card p.tip {
      font-size: 1em;
      font-weight: 700;
    }
    
    .cards .card p.second-text {
      font-size: .7em;
    }
    
    .cards .card:hover {
      transform: scale(1.1, 1.1);
    }
    
    .cards:hover > .card:not(:hover) {
      filter: blur(10px);
      transform: scale(0.9, 0.9);
    }
    </style>