<main>
 
  <div class="wrapper  bg-gray-100 dark:bg-gray-800   opacity-30 transition-opacity duration-300 group-focus:opacity-100  h-[70vh]   ">
 



    <div class="grid_animation_container">
      <div class="grid_column_1 grid-item">
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
          <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
        
        
          <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
        
        
          <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
   
      </div>
      <div class="grid_column_2 grid-item">
      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
        
          <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
        
          <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
          <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
      </div>
      <div class="grid_column_3 grid-item">
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />  <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />  <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />  <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_cwr9te.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211901/copy/cards/%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_qe2p8t.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211902/copy/cards/aaaa_gcdz78.webp" alt="image" />
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716211904/copy/cards/%D8%A7%D9%84%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D8%B4%D8%A7%D9%86%D9%84%D8%A9_p9msbu.webp" alt="image" />
      </div>
    </div>
  </div>
  
 
 
</main>





<style>


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  height: 100%;
  width: 100%;
  
  perspective: 700px;
  overflow: hidden;
}
.grid_animation_container {
  display: grid;
  gap: 3rem;
  width: 100%;
  height: 75rem;
  grid-template-columns: repeat(3, 1fr);
  transform: translate3d(20%, -2%, 0px) scale3d(0.9, 0.8, 1) rotateX(15deg)
    rotateY(-9deg) rotateZ(32deg);
  transform-origin: 50% 0%;
  scale: 1.2;
}

.grid-item {
  display: grid;
  gap: 1.2rem;
}
.grid_column_1 {
  animation: sliding-img-up-1 30s linear infinite;
}
.grid_column_2 {
  animation: sliding-img-down-2 30s linear infinite;
}
.grid_column_3 {
  animation: sliding-image-up 30s linear infinite;
}

@keyframes sliding-img-up-1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-636px);
  }
}

@keyframes sliding-img-down-2 {
  0% {
    transform: translateY(-536px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes sliding-image-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-636px);
  }
}
img {
  width: 100%;
}

section {
  padding: 32px;
}

.t_wrapper {
  perspective: 1000px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  transform: rotateX(120deg);
}

@media screen and (max-width: 768px) {
  .grid_animation_container {
    transform: translate3d(20%, -2%, 0px) scale3d(0.9, 0.8, 1) rotateX(19deg)
      rotateY(340deg) rotateZ(45deg);
    transform-origin: 50% 0%;
    scale: 2.4;
    transform-origin: 36% 13%;
    gap: 0.5rem;
  }
  .grid-item {
    gap: 0.2rem;
  }
}



</style>