
<div class="relative font-inter antialiased md:mt-5 sm:mt-20 " >

  <main class="relative   flex flex-col justify-center">
      <div class="w-full max-w-5xl mx-auto px-4 md:px-6 md:py-16 py-12">

          <!-- Card slider  -->
          <section class="px-12 md:mt-20 lg:mt-24">
              <div class="max-w-lg mx-auto relative">
  
                  <input id="article-01" type="radio" name="slider" class="sr-only peer/01">
                  <input id="article-02" type="radio" name="slider" class="sr-only peer/02">
                  <input id="article-03" type="radio" name="slider" class="sr-only peer/03" checked>
                  <input id="article-04" type="radio" name="slider" class="sr-only peer/04">
                  <input id="article-05" type="radio" name="slider" class="sr-only peer/05">
  
                  <div class="
                      absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                      peer-focus-visible/01:[&_article]:ring
                      peer-focus-visible/01:[&_article]:ring-indigo-300
                      peer-checked/01:relative
                      peer-checked/01:z-50
                      peer-checked/01:translate-x-0
                      peer-checked/01:scale-100
                      peer-checked/01:[&>label]:pointer-events-none
                      peer-checked/02:-translate-x-20
                      peer-checked/02:scale-[83.75%]
                      peer-checked/02:z-40
                      peer-checked/03:-translate-x-40
                      peer-checked/03:z-30
                      peer-checked/04:-translate-x-40                    
                      peer-checked/04:opacity-0
                      peer-checked/05:-translate-x-40
                  ">   <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091599/copy/cards/%D9%83%D8%A8%D9%88%D9%86_%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_n9bq2h_fm93vg.webp" class="absolute bottom-0 left-0 w-full z-0 xl:opacity-90  overflow-hidden" alt="offer" >
                      <label class="absolute inset-0" for="article-01"><span class="sr-only"></span></label>
                      <article class=" p-6 rounded-lg shadow-2xl">
                          <header class="mb-2">
                          
                          </header>
                          <div class="text-sm leading-relaxed text-slate-500 space-y-4 mb-2">
                             
                          </div>
                          <footer class="text-right">
                        
                          </footer>
                      </article>
                  </div>
  
                  <div class="
                      absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                      peer-focus-visible/02:[&_article]:ring
                      peer-focus-visible/02:[&_article]:ring-indigo-300                        
                      peer-checked/01:translate-x-20
                      peer-checked/01:scale-[83.75%]
                      peer-checked/01:z-40
                      peer-checked/02:relative
                      peer-checked/02:z-50
                      peer-checked/02:translate-x-0
                      peer-checked/02:scale-100
                      peer-checked/02:[&>label]:pointer-events-none
                      peer-checked/03:-translate-x-20
                      peer-checked/03:scale-[83.75%]
                      peer-checked/03:z-40
                      peer-checked/04:-translate-x-40
                      peer-checked/04:z-30
                      peer-checked/05:-translate-x-40 
                      peer-checked/05:opacity-0
                  ">
                                 <img src=" https://res.cloudinary.com/dt9k74vof/image/upload/v1718091596/copy/cards/%D9%83%D9%88%D8%A8%D9%88%D9%86_%D8%A7%D9%84%D8%B1%D8%A8%D8%AD_%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_ansvat_ebfyix.webp" class="absolute bottom-0 left-0 w-full z-0 xl:opacity-90  overflow-hidden" alt="offer" >
                    
                      <label class="absolute inset-0" for="article-02"><span class="sr-only"> </span></label>
                      <article class=" p-6 rounded-lg shadow-2xl">
                          <header class="mb-2">
                             
                            
                          </header>
                          <div class="text-sm leading-relaxed text-slate-500 space-y-4 mb-2">
                       
                          </div>
                          <footer class="text-right">
                             
                          </footer>
                      </article>
                  </div>
  
                  <div class="
                      absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                      peer-focus-visible/03:[&_article]:ring
                      peer-focus-visible/03:[&_article]:ring-indigo-300                          
                      peer-checked/01:translate-x-40
                      peer-checked/01:z-30
                      peer-checked/02:translate-x-20
                      peer-checked/02:scale-[83.75%]
                      peer-checked/02:z-40
                      peer-checked/03:relative
                      peer-checked/03:z-50
                      peer-checked/03:translate-x-0
                      peer-checked/03:scale-100
                      peer-checked/03:[&>label]:pointer-events-none
                      peer-checked/04:-translate-x-20
                      peer-checked/04:scale-[83.75%]
                      peer-checked/04:z-40
                      peer-checked/05:-translate-x-40
                      peer-checked/05:z-30                  
                  ">
                    
                                 <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091599/copy/cards/%D9%83%D8%A8%D9%88%D9%86_%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_n9bq2h_fm93vg.webp" class="absolute bottom-0 left-0 w-full z-0 xl:opacity-90  overflow-hidden" alt="offer" >
                      <label class="absolute inset-0" for="article-03"><span class="sr-only"></span></label>
                      <article class=" p-6 rounded-lg shadow-2xl">
                          <header class="mb-2">
                            
                            
                          </header>
                          <div class="text-sm leading-relaxed text-slate-500 space-y-4 mb-2">
                           
                             
                          </div>
                          <footer class="text-right">
                          </footer>
                      </article>
                  </div>
  
                  <div class="
                      absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                      peer-focus-visible/04:[&_article]:ring
                      peer-focus-visible/04:[&_article]:ring-indigo-300                          
  
                      peer-checked/01:translate-x-40 
                      peer-checked/01:opacity-0
                      
                      peer-checked/02:translate-x-40
                      peer-checked/02:z-30
                      
                      peer-checked/03:translate-x-20
                      peer-checked/03:scale-[83.75%]
                      peer-checked/03:z-40
  
                      peer-checked/04:relative
                      peer-checked/04:z-50
                      peer-checked/04:translate-x-0
                      peer-checked/04:scale-100
                      peer-checked/04:[&>label]:pointer-events-none
                      
                      peer-checked/05:-translate-x-20
                      peer-checked/05:scale-[83.75%]
                      peer-checked/05:z-40
                  ">
                    
                      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091596/copy/cards/%D9%83%D9%88%D8%A8%D9%88%D9%86_%D8%A7%D9%84%D8%B1%D8%A8%D8%AD_%D8%A7%D9%84%D9%85%D8%AA%D9%82%D8%AF%D9%85_bhcpjy_sauh9s.webp" class="absolute bottom-0 left-0 w-full z-0 xl:opacity-90  overflow-hidden" alt="offer" >
                      <label class="absolute inset-0" for="article-04"><span class="sr-only"></span></label>
                      <article class="p-6 rounded-lg shadow-2xl">
                          <header class="mb-2">
                             
                          </header>
                          <div class="text-sm leading-relaxed text-slate-500 space-y-4 mb-2">
                              <p>
                             
                              </p>
                              <p>
                       
                              </p>
                          </div>
                        
                      </article>
                  </div>  
                  
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                  <div class="
                      absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                      peer-focus-visible/05:[&_article]:ring
                      peer-focus-visible/05:[&_article]:ring-indigo-300                          
                      peer-checked/01:translate-x-40 
                      peer-checked/02:translate-x-40 
                      peer-checked/02:opacity-0
                      peer-checked/03:translate-x-40
                      peer-checked/03:z-30
                      peer-checked/04:translate-x-20
                      peer-checked/04:scale-[83.75%]
                      peer-checked/04:z-40
                      peer-checked/05:relative
                      peer-checked/05:z-50
                      peer-checked/05:translate-x-0
                      peer-checked/05:scale-100
                      peer-checked/05:[&>label]:pointer-events-none
                  ">
                    
                    
                      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091598/copy/cards/%D8%A7%D9%84%D8%AB%D8%B1%D9%88%D8%A9_%D8%A7%D9%84%D8%B4%D8%A7%D9%85%D9%84%D8%A9_rdhx3n_xckhry.webp" class="absolute bottom-0 left-0 w-full z-0 xl:opacity-90  overflow-hidden" alt="offer" >

                      <label class="absolute inset-0" for="article-05"><span class="sr-only"></span></label>
                      <article class=" p-6 rounded-lg shadow-2xl">
                          <header class="mb-2">
                              
                          </header>
                          <div class="text-sm leading-relaxed text-slate-500 space-y-4 mb-2">
                              
                              
                          </div>
                          
                      </article>
                  </div>                  
              </div>
          </section>
          <!-- End: Card slider  -->

      </div>

  </main>


</div>