

<div id="modelConfirm" class="fixed hidden z-[9999] inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4 ">
    <div class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md">
 
        <div class="flex justify-end p-2">
            <button onclick="closeModal('modelConfirm')" type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
 
        <div class="p-6 pt-0 text-center">
            <svg class="w-20 h-20 text-teal-600 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">
             سياسة الخصوصية لموقع فلاجيدو 
           </h3>
 
 
       <p class="text-right m-1">
 
 
     
 
            في فلاجيدو، تتمثل إحدى أولوياتنا الرئيسية في خصوصية زوارنا. تحتوي وثيقة سياسة الخصوصية هذه على أنواع المعلومات التي يتم جمعها وتسجيلها بواسطة فلاجيدو وكيف نستخدمها.
            
            المعلومات التي نجمعها
            نجمع عدة أنواع من المعلومات من مستخدمي موقعنا وخدماتنا وحولهم ، بما في ذلك:
            </p>
            <h3 class="text-right  m-1 font-semibold text-xl">
             المعلومات الشخصية:
    
            </h3> <p class="text-right">
                الاسم وعنوان البريد الإلكتروني ورقم الهاتف والمعلومات الأخرى التي تقدمها عند التسجيل أو تحديث حسابك أو ملء نموذج أو تقديم طلب أو التواصل معنا.

            </p>
            <h3 class="text-right  m-1 font-semibold text-xl">
            معلومات الاستخدام:
            </h3>
            <p class="text-right ">
            قد نقوم تلقائيًا بجمع معلومات حول استخدامك لموقعنا وخدماتنا ، بما في ذلك عنوان IP الخاص بك ومعلومات الجهاز ونوع المتصفح واللغة ونظام التشغيل وأوقات الوصول والصفحات التي تمت زيارتها.
            </p>
            <h3 class="text-right  m-1 font-semibold text-xl">
             معلومات المعاملة:
            </h3>
            <p class="text-right  mb-5 ">
            إذا قمت بسداد مدفوعات من خلال موقعنا أو خدماتنا ، فقد نقوم بجمع المعلومات المتعلقة بالمعاملة ، مثل المبلغ المدفوع والتاريخ والوقت وتفاصيل المعاملة الأخرى.
 
 
 
           </p>
 
 
 
 
 
 
 
            <a onclick="closeModal('modelConfirm')"
                class="text-white bg-teal-600 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                لا شكرا
            </a>
            <a href="#sin-in" onclick="closeModal('modelConfirm')"
                class="mx-1 text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center"
                data-modal-toggle="delete-user-modal">
           تسجيل الدخول
            </a>
        </div>
 
    </div>
 </div>
 
 <script type="text/javascript">
    window.openModal = function(modalId) {
        document.getElementById(modalId).style.display = 'block'
        document.getElementsByTagName('body')[0].classList.add('overflow-y-hidden')
    }
 
    window.closeModal = function(modalId) {
        document.getElementById(modalId).style.display = 'none'
        document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
    }
 
    // Close all modals when press ESC
    document.onkeydown = function(event) {
        event = event || window.event;
        if (event.keyCode === 27) {
            document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
            let modals = document.getElementsByClassName('modal');
            Array.prototype.slice.call(modals).forEach(i => {
                i.style.display = 'none'
            })
        }
    };
 </script>