<section class="min-h-screen text-center py-20 px-2 xl:px-0 flex flex-col justify-center" dir="ltr">
  <span class="dark:text-emerald-50  text-lg max-w-lg mx-auto mb-2   text-emerald-500 flex items-center">تعرف  على العروض <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-emerald-600 ml-3 w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
    </svg>
  </span>
  <h1 class="text-dark text-4xl md:text-5xl xl:text-6xl font-semibold max-w-3xl mx-auto mb-16 leading-snug dark:text-white">لماذا نقدم كوبونات الكاش باك لعملائنا؟</h1>
  <div class="grid-offer text-right grid sm:grid-cols-2 md:grid-cols-2 gap-5 max-w-5xl mx-auto">
    <div class="card bg-emerald-600  p-10 relative">
      <div class="circle -z-10">
      </div>
      <div class="relative lg:pr-52 z-20">
        <h2 class="   text-white mb-4 text-2xl  font-bold xl:text-3xl" > جذب العملاء الجدد <br /> 2 </h2>
        <p class="text-emerald-50 ">نقدم الكاش باك كحافز قوي لجذب عملاء جدد إلى منصتنا. نعلم أن العملاء يبحثون دائمًا عن أفضل العروض والقيمة مقابل أموالهم، وتقديم الكاش باك يساعدهم على اتخاذ قرار تجربة خدماتنا بسهولة.

</p> 
      </div>
      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716476353/4_kasxvt.webp" class="z-10 w-full h-full opacity-20 absolute top-0 left-0 -z-10" alt="">

  

    </div>
    <div class="card   p-10 relative ">
      <div class="circle -z-10">
      </div>
      <div class="relative lg:pl-48 z-20">
        <h2 class="  text-emerald-500  mb-4 text-2xl text-emerald-600 font-bold xl:text-3xl">
          
         زيادة ولاء العملاء الحاليين   </h2>
         <p class="  text-emerald-500 mb-4 text-3xl xl:text-3xl font-bold">
          1 </p>
        <p class="text-emerald-500 "> الكاش باك يعزز من ولاء عملائنا الحاليين. عندما يشعر العملاء بأنهم يحصلون على قيمة إضافية مع كل عملية شراء، يزداد ولاؤهم لمنصتنا ويشجعهم على الاستمرار في استخدام خدماتنا لفترة أطول.</p>
      </div>



      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716476352/2_ibzhyp.webp" class="z-10 w-full h-full opacity-20 absolute top-0 left-0 -z-10" alt="">
    </div>







    <div class="card bg-emerald-600  p-10 relative">

      
      <div class="circle -z-10">
      </div>
      <div class="relative lg:pr-44 z-20">
        
        <h2 class="   text-white mb-4 text-2xl  font-bold xl:text-3xl">تعزيز الثقة والولاء<br /></h2> 
        <p class="  text-white mb-4 text-3xl xl:text-3xl font-bold">
          4 </p>
        <p class=" text-emerald-50 ">تقديم كاش باك يعزز من ثقة العملاء في المنصة ويزيد من ولائهم، حيث يشعرون بأنهم يحصلون على قيمة إضافية مقابل المال الذي ينفقونه.</p>
      </div>
      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716476353/1_dcx93b.webp" class="w-full h-full opacity-20 absolute top-0 left-0 z-10" alt="">


    </div>





    <div class="card bg-emerald-600  p-10 relative">

      <div class="circle">
      </div>
      <div class="relative lg:pl-48">
        <h2 class="   text-white mb-4 text-2xl  font-bold xl:text-3xl">
          
        تشجيع تكرار الشراء
 </h2>
 <p class="  text-white mb-4 text-3xl xl:text-3xl font-bold">
 3 </p>
        <p class="text-emerald-50 ">نظام الكاش باك يشجع عملائنا على إعادة الشراء واستخدام المزيد من الخدمات المتاحة على منصتنا. العملاء الذين يعرفون أنهم سيحصلون على استرداد نقدي مع كل عملية شراء، يكونون أكثر ميلاً للعودة والاستفادة من عروضنا مرارًا وتكرارًا.</p>
      </div>

      <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716476352/3_tsdg5t.webp" class="w-full h-full opacity-20 absolute top-0 left-0 z-10" alt="">

      
    </div>

    
  </div>

  <style scoped>








.card {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    background-color: #090a0ac5;
  }

  &:hover {
    box-shadow: 0.063rem 0.063rem 1.25rem 0.375rem rgb(0 0 0 / 53%);
  }

  &:nth-child(1)::before {
    bottom: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
  }

  &:nth-child(2)::before {
    bottom: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
  }

  &:nth-child(3)::before {
    top: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
  }

  &:nth-child(4)::before {
    top: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
  }

  p {
    transition: 0.8s;
  }
}

.card:hover::before {
  clip-path: circle(110vw at 100% 100%);
}

.card:hover p {
  color: #fff;
}

.circle {
  @include mQ(62.5rem) {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}


  </style>