
<div class="container flex justify-center mx-auto pt-16 mt-10">






  <div>
    
    <h1
    class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
    font-bold text-heading-1"
  >
   تعرف  علي اراء العملاء<span
      class="text-transparent bg-clip-text bg-gradient-to-br from-teal-800 from-20% via-teal-500 via-30% to-green-600"
    >
</span>
  </h1>
  </div>
</div>
<div class="w-full bg-gray-100 dark:bg-gray-800 px-10 pt-10">
  <div class="container mx-auto">
      <div role="list" aria-label="Behind the scenes People " class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
        
        
        <div role="listitem" class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-1/3 ">
              <div class="rounded overflow-hidden shadow-md bg-white dark:bg-gray-900">
                  <div class="absolute -mt-20 w-full flex justify-center">
                      <div class="h-32 w-32">
                          <img src="https://cdn.tuk.dev/assets/photo-1564061170517-d3907caa96ea.jfif" alt="Display Picture of Andres Berlin" role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                      </div>
                  </div>
                  <div class="px-6 mt-16">
                      <h1 class="font-bold dark:text-white text-3xl text-center mb-1">محمد الراشد</h1>
                      <p class="text-gray-800 dark:text-white text-sm text-center">متداول</p>
                      <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">
                        لقد استفدت كثيرًا من دورات فلاجيدو التعليمية، فهي متنوعة ومفيدة لتطوير مهاراتي في مجالات مختلفة. أوصي بها بشدة لأي شخص يبحث عن التعلم والنمو المهني.                      <div class="w-full flex justify-center pt-5 pb-5">
                          <a href="javascript:void(0)" class="mx-5">

                          </a>
                          <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Twitter" role="img">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg" alt="twitter" />
                              </div>
                          </a>
                          <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Instagram" role="img">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg" alt="instagram" />
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div role="listitem" class="xl:w-1/3 lg:mx-3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-1/3">
              <div class="rounded overflow-hidden shadow-md bg-white dark:bg-gray-900">
                  <div class="absolute -mt-20 w-full flex justify-center">
                      <div class="h-32 w-32">
                          <img src="https://cdn.tuk.dev/assets/photo-1530577197743-7adf14294584.jfif" alt="Display Picture of Silene Tokyo" role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                      </div>
                  </div>
                  <div class="px-6 mt-16">
                    <h1 class="font-bold dark:text-white text-3xl text-center mb-1">حسناء  مسعود</h1>
                      <p class="text-gray-800 dark:text-white text-sm text-center">مستثمر</p>
                      <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">
                        لا يمكنني الاستغناء عن فلاجيدو لمتابعة أحدث الأخبار المالية والتحليلات. تقدم المنصة معلومات دقيقة ومفيدة تساعدني في اتخاذ قرارات استثمارية مدروسة                      <div class="w-full flex justify-center pt-5 pb-5">
                     
                          <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Twitter" role="img">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg" alt="twitter" />
                              </div>
                          </a>
                          <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Instagram" role="img">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg" alt="instagram" />
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div role="listitem" class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-1/3">
              <div class="rounded overflow-hidden shadow-md bg-white dark:bg-gray-900">
                  <div class="absolute -mt-20 w-full flex justify-center">
                      <div class="h-32 w-32">
                          <img src="https://cdn.tuk.dev/assets/photo-1566753323558-f4e0952af115.jfif" alt="Display Picture of Johnson Stone" role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                      </div>
                  </div>
                  <div class="px-6 mt-16">
                      <h1 class="font-bold dark:text-white text-3xl text-center mb-1">خالد بن راجح</h1>
                      <p class="text-gray-800 dark:text-white text-sm text-center">مستثمر</p>
                      <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">
                        استخدمت خدمة الاستشارات الاستثمارية من فلاجيدو وكانت تجربة رائعة. الاستشاريون متخصصون وودودون وأعطوني توجيهًا قيمًا يساعدني في تحقيق أهدافي المالية                      <div class="w-full flex justify-center pt-5 pb-5">
                   
                          <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Twitter" role="img">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg2.svg" alt="twitter" />
                              </div>
                          </a>
                          <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Instagram" role="img">
                                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/gray-bg-with-description-svg3.svg" alt="instagram" />
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          
              </div>
          </div>
         
  
