

<div class="w-full px-6 mt-20 mx-auto pt-10">
    <div class="mt-8 relative rounded-lg bg-[url(https://res.cloudinary.com/dt9k74vof/image/upload/v1707232531/copy/earth-layer_jadxvo.png)] bg-cover bg-no-repeat bg-center bg-[#168b7cad] container mx-auto flex flex-col items-center pt-12 sm:pt-24 pb-24 sm:pb-32 md:pb-48 lg:pb-56 xl:pb-64">
       <img class="mr-2 lg:mr-12 mt-2 lg:mt-12 absolute right-0 top-0"  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/center_aligned_with_image-svg2.svg" alt="bg"/>
       <img class="ml-2 lg:ml-12 mb-2 lg:mb-12 absolute bottom-0 left-0" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/center_aligned_with_image-svg3.svg" alt="bg"/>
       
        <div class="w-11/12 sm:w-2/3 mb-5 sm:mb-10">
            <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-white font-bold leading-tight">  

             
                    <p class="dark:text-slate-200 m-3"> احصل علي أفضل </p>
                              <h1 style="line-height: 1.2" class="drop-shadow-2xl text-center mb-4 text-4xl font-bold bg-gradient-to-r from-teal-300 to-teal-100 bg-clip-text text-transparent   sm:text-5xl md:mb-8 md:text-8xl leading-2"> 
                               
                                استشارة استثمارية
                              </h1>
                      
                              <p class="max-w-md leading-relaxed m-auto text-gray-100 xl:text-lg text-center"> من خبراء في الاسواق المالية والاقتصادية</p>
                        
                      


            </h1>
        </div>
        <div class="flex justify-center items-center mb-10 sm:mb-20 gap-2">
            <a href="#sin-in" class="hover:text-white hover:bg-transparent lg:text-xl hover:border-white border bg-white transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-teal-700	focus:ring-white rounded text-teal-700 px-4 sm:px-8 py-1 sm:py-3 text-sm">ابدأ الان</a>
            <a href="#sin-in" class="hover:bg-white hover:text-teal-600 lg:text-xl hover:border-teal-600 ml-3 sm:ml-6 bg-transparent transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-teal-700 focus:ring-white hover:bg-teal-700-800 rounded border border-white text-white px-4 sm:px-8 py-1 sm:py-3 text-sm">تعرف علي المزيد</a>
        </div>
    </div>
    <div class="container mx-auto flex justify-center md:-mt-56 -mt-20 sm:-mt-40">
        <div class="relative sm:w-2/3 w-11/12 ">
            <img class="m-auto" src="https://res.cloudinary.com/dt9k74vof/image/upload/v1709798950/copy/flag-svg_jbxhcu.webp" alt="Sample Page" role="img"  />
        </div>
    </div>
</div>
