---
export interface Props{
    href:string,
    text:string,
    id:string
}
const {href, text, id } = Astro.props
---
<li  id={id}>

    <a href={href} class="Download-button duration-300 font-medium ease-linear hover:text-emerald-200 py-3">
    {text}
    </a>

</li>


<style>









</style>