---
---


<a class= "hover:scale-105" href="https://wa.me/201063588999">
    <img class="whats-icon mr-2 md:mr-20 hover:scale-105 animate-bounce drop-shadow-lg" src="https://res.cloudinary.com/dt9k74vof/image/upload/v1702397274/copy/pngegg_pzhfjl.png"> 
  </a>


<style>
    .whats-icon{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 80px;
    height: 80px;
    z-index: 9999;
 
}
</style>