

<a class= "hover:scale-105" href="https://wa.me/201063588999">
   



  <div class="  group  whats-icon animate-bounce drop-shadow-lg">
    <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1702814451/copy/New_Project_xhfaxz.webp" width="100" height="100" alt="whatsapp" class=" w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
</div>
  </a>




<style>
    .whats-icon{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 9999;
     
  
 
} 

</style>



