---
---


<div class="card">
    <div>
        <span>الاسهم</span>
    </div>
    <p></p>
    <div>
        <i></i>
        <p>سهم صناعات قطر (IQCD)</p>
    </div>
</div>

<style>
    .card{
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
    .card div:first {
        background-image: url('../../../public/images/article-card-img.webp');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 70%;
    }
</style>