<!-- start html -->

    <div class="card  rounded-lg mb-20 bg-emerald-500">
      <img class="w-3/4 rounded m-auto border border-slate-300" src="https://res.cloudinary.com/dt9k74vof/image/upload/v1703669065/copy/evest_xjj0rq.jpg">
      <button class="open-account bg-emerald-800">فتح حساب</button>
    </div>

  <!-- start css -->
   <style>
 .card {
    border-radius: 50% 50% 44% 56% / 40% 42% 58% 60%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    height: 210px;
    text-align: center;
    border: 1px solid #e0e0e0;
}
.card:hover{
  background-color:#BFD7FF;
}
 .card img{
  transform: translateY(-50px);
  border-radius: 51% 49% 47% 53% / 51% 49% 51% 49%;
} 
.card button {
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 150px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transform: translateY(-50px);
}
.card:hover.card button{
  background-color: #4D67FF;
}

.open-account {
   
    color: white;
}
   </style>