<div class="w-[1440px] h-[5981px] relative bg-gray-900">
  <div class="w-[267px] h-[244px] left-[590px] top-[5686px] absolute">
    <div class="left-[81px] top-[229px] absolute text-white text-opacity-30 text-xs font-medium font-['Inter'] leading-none">©kcstudio 2023</div>
    <img class="w-[108px] h-[107px] left-[76px] top-0 absolute" src="https://via.placeholder.com/108x107" />
    <div class="w-[267px] h-[38px] left-0 top-[170px] absolute">
      <img class="w-[267px] h-[38px] left-0 top-0 absolute rounded-[9px] shadow border border-white backdrop-blur-2xl" src="https://via.placeholder.com/267x38" />
      <img class="w-[17px] h-[17px] left-[234px] top-[11px] absolute" src="https://via.placeholder.com/17x17" />
      <div class="left-[16px] top-[11px] absolute text-neutral-100 text-opacity-80 text-xs font-medium font-['Inter'] leading-none">Cooked with love in </div>
      <div class="left-[166px] top-[11px] absolute text-neutral-100 text-opacity-80 text-xs font-medium font-['Inter'] leading-none">with</div>
      <div class="left-[218px] top-[11px] absolute text-neutral-100 text-opacity-80 text-xs font-medium font-['Inter'] leading-none">&</div>
      <div class="w-5 h-[14.55px] left-[137px] top-[12px] absolute">
        <div class="w-5 h-[14.55px] left-0 top-0 absolute">
          <img class="w-5 h-[3.07px] left-0 top-[1.43px] absolute" src="https://via.placeholder.com/20x3" />
          <img class="w-5 h-[3.07px] left-0 top-[2.87px] absolute" src="https://via.placeholder.com/20x3" />
          <img class="w-5 h-[3.07px] left-0 top-[4.30px] absolute" src="https://via.placeholder.com/20x3" />
          <img class="w-5 h-[3.07px] left-0 top-[5.74px] absolute" src="https://via.placeholder.com/20x3" />
          <img class="w-5 h-[3.07px] left-0 top-[7.17px] absolute" src="https://via.placeholder.com/20x3" />
          <img class="w-5 h-[3.07px] left-0 top-[8.61px] absolute" src="https://via.placeholder.com/20x3" />
          <img class="w-5 h-[3.07px] left-0 top-[10.04px] absolute" src="https://via.placeholder.com/20x3" />
        </div>
        <div class="w-[8.76px] h-[6.31px] left-0 top-[1.03px] absolute">
          <img class="w-[8.76px] h-[6.28px] left-0 top-[0.05px] absolute" src="https://via.placeholder.com/9x6" />
          <div class="w-[7.65px] h-[5.43px] left-[0.54px] top-[0.54px] absolute">
          </div>
        </div>
        <div class="w-5 h-[14.55px] left-0 top-0 absolute"></div>
      </div>
      <img class="w-[10.56px] h-[15.86px] left-[199px] top-[11px] absolute" src="https://via.placeholder.com/11x16" />
    </div>
  </div>
  <div class="w-[1440px] h-[521px] left-0 top-[5052px] absolute">
    <div class="w-[865px] h-[303px] left-[291px] top-[218px] absolute">
      <div class="w-[865px] h-[303px] left-0 top-0 absolute bg-gray-900 rounded-lg shadow border border-violet-700"></div>
      <div class="w-[865px] h-[303px] left-0 top-0 absolute">
        <div class="w-[865px] h-[303px] left-0 top-0 absolute bg-gray-900 rounded-lg border border-violet-700"></div>
        <div class="w-[251px] h-[50px] left-[488px] top-[195px] absolute">
          <div class="w-[251px] h-[50px] left-0 top-0 absolute bg-gradient-to-r from-indigo-700 to-violet-700 rounded-lg border border-violet-400 border-opacity-50"></div>
          <div class="w-[203px] h-[23px] left-[24px] top-[13px] absolute text-white text-opacity-80 text-sm font-semibold font-['Inter']">Let’s create magic together ✨ </div>
        </div>
        <div class="opacity-80 w-[254.01px] h-[304.05px] left-[737px] top-[-14px] absolute">
          <div class="w-[60.78px] h-[26.05px] left-[98px] top-[251px] absolute bg-gradient-to-tl from-purple-800 to-indigo-700 rounded-[5px] border-zinc-700"></div>
          <div class="w-[170.57px] h-[170.57px] left-[43.34px] top-[133.49px] absolute">
            <img class="w-[93.64px] h-[115.46px] left-[38.36px] top-[1.74px] absolute border-zinc-700" src="https://via.placeholder.com/94x115" />
          </div>
          <div class="w-[9.24px] h-[9.24px] left-0 top-[119.63px] absolute bg-gray-900 border border-indigo-600"></div>
          <div class="w-[9.24px] h-[9.24px] left-[124.70px] top-[110.40px] absolute bg-gray-900 border border-violet-700"></div>
          <div class="w-[9.24px] h-[9.24px] left-[244.77px] top-[101.16px] absolute bg-gray-900 border border-violet-800"></div>
          <div class="w-[4.62px] h-[4.62px] left-[87.76px] top-[61.91px] absolute bg-violet-800 rounded-full"></div>
          <div class="w-[4.62px] h-[4.62px] left-[166.27px] top-[163.51px] absolute bg-violet-800 rounded-full"></div>
          <div class="w-[23.09px] h-[23.09px] left-[117.76px] top-[200.45px] absolute rounded-full"></div>
        </div>
      </div>
      <div class="w-6 h-6 left-[521px] top-[139px] absolute"></div>
      <div class="w-6 h-6 left-[621px] top-[139px] absolute"></div>
      <div class="w-6 h-6 left-[571px] top-[139px] absolute">
        <img class="w-6 h-6 left-0 top-0 absolute" src="https://via.placeholder.com/24x24" />
      </div>
      <div class="w-6 h-6 left-[671px] top-[139px] absolute justify-center items-center inline-flex">
        <div class="w-[26px] h-[26px] relative flex-col justify-start items-start flex"></div>
      </div>
      <div class="w-[529.02px] h-8 left-[60px] top-[128px] absolute text-white text-lg font-semibold font-['Inter']">Drop me a line or say 👋 on social networks</div>
      <div class="w-[419.27px] h-[77px] left-[55px] top-[174px] absolute text-white text-opacity-40 text-sm font-medium font-['Inter'] leading-tight">Whether you're a design team in need of support or       an early-stage company looking to level up your design,      I'd love to talk about your project 💜<br/></div>
      <div class="w-[154px] h-[39px] left-[126px] top-[51px] absolute">
        <img class="w-[154px] h-[39px] left-0 top-0 absolute rounded-[30px] shadow border border-white backdrop-blur-2xl" src="https://via.placeholder.com/154x39" />
        <div class="w-[103px] left-[33px] top-[12px] absolute text-neutral-100 text-opacity-80 text-xs font-medium font-['Inter'] leading-none">Available for work</div>
        <div class="w-1 h-1 left-[17px] top-[17.50px] absolute bg-green-700 rounded-full border border-green-400"></div>
      </div>
      <div class="w-[77px] h-[77px] left-[34px] top-[35px] absolute">
        <div class="w-[51px] h-[51px] left-[13px] top-[13px] absolute opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <div class="w-[65px] h-[65px] left-[6px] top-[6px] absolute opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <div class="w-[77px] h-[77px] left-0 top-0 absolute opacity-40 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <img class="w-[35px] h-[35px] left-[21px] top-[21px] absolute rounded-[72px]" src="https://via.placeholder.com/35x35" />
      </div>
    </div>
    <div class="w-[1440px] h-[167px] left-0 top-0 absolute">
      <div class="w-[1440px] left-0 top-[51px] absolute opacity-90 text-center text-white text-[58px] font-black font-['Inter'] leading-[58.29px] tracking-wide">CONTACT</div>
    </div>
  </div>
  <div class="w-[1440px] h-[1046px] left-0 top-[3931px] absolute">
    <div class="w-[1440px] h-[330px] left-0 top-0 absolute">
      <div class="w-[1440px] h-[167px] left-0 top-0 absolute">
        <div class="w-[1440px] left-0 top-[51px] absolute opacity-90 text-center text-white text-[58px] font-black font-['Inter'] leading-[58.29px] tracking-wide">SERVICES</div>
      </div>
      <div class="w-[667px] h-10 left-[386px] top-[172px] absolute">
        <div class="w-[106px] h-10 pl-4 pr-[18px] py-3 left-[285px] top-0 absolute rounded-[30px] shadow border border-white backdrop-blur-2xl flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="justify-start items-center gap-2 inline-flex">
            <div class="w-3 h-3 relative opacity-90 shadow"></div>
            <div class="text-center text-neutral-200 text-opacity-80 text-[13px] font-semibold font-['Inter']">Website</div>
          </div>
        </div>
        <div class="w-[111px] h-10 pl-4 pr-[18px] py-3 left-[407px] top-0 absolute rounded-[30px] shadow border border-white backdrop-blur-2xl flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="justify-start items-center gap-2 inline-flex">
            <div class="w-3 h-3 relative opacity-90 shadow"></div>
            <div class="text-center text-neutral-200 text-opacity-80 text-[13px] font-semibold font-['Inter']">Branding</div>
          </div>
        </div>
        <div class="w-[133px] h-10 pl-4 pr-[18px] py-3 left-[534px] top-0 absolute rounded-[30px] shadow border border-white backdrop-blur-2xl flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="justify-start items-center gap-2 inline-flex">
            <div class="w-3 h-3 relative opacity-90 shadow"></div>
            <div class="text-center text-neutral-200 text-opacity-80 text-[13px] font-semibold font-['Inter']">Logo Design</div>
          </div>
        </div>
        <div class="w-[149px] h-10 pl-4 pr-[18px] py-3 left-0 top-0 absolute bg-gradient-to-b from-zinc-300 to-white rounded-[30px] shadow border border-white backdrop-blur-2xl flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="justify-start items-center gap-2 inline-flex">
            <div class="w-3 h-3 relative opacity-90 shadow"></div>
            <div class="text-center text-neutral-200 text-opacity-80 text-[13px] font-semibold font-['Inter']">Design System</div>
          </div>
        </div>
        <div class="w-[104px] h-10 pl-4 pr-[18px] py-3 left-[165px] top-0 absolute rounded-[30px] shadow border border-white backdrop-blur-2xl flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="justify-start items-center gap-2 inline-flex">
            <div class="w-3 h-3 relative opacity-90 shadow"></div>
            <div class="text-center text-neutral-200 text-opacity-80 text-[13px] font-semibold font-['Inter']">Product</div>
          </div>
        </div>
      </div>
      <div class="w-[546px] left-[447px] top-[276px] absolute text-center text-neutral-100 text-xl font-semibold font-['Inter']">Product, Website or Brand Design, I've got you covered!</div>
      <div class="w-[566px] left-[437px] top-[308px] absolute text-center text-white text-opacity-30 text-lg font-medium font-['Inter']">Let's elevate your vision and achieve your design goals together!</div>
    </div>
    <div class="w-[460px] h-[500px] left-[490px] top-[394px] absolute">
      <div class="w-[460px] h-[119px] left-0 top-0 absolute flex-col justify-start items-start inline-flex">
        <div class="w-[460px] h-[119px] bg-zinc-500 bg-opacity-20 rounded-lg border border-gray-700 border-opacity-20 backdrop-blur-[7px]"></div>
        <div class="w-11 h-11 relative shadow">
          <div class="w-9 h-9 left-[4px] top-[4px] absolute bg-zinc-800 rounded-full border border-zinc-700"></div>
          <div class="w-[22px] h-[17.42px] left-[11px] top-[12.83px] absolute text-center"><span style="text-white text-[15.15px] font-bold font-['Inter']">A</span><span style="text-white text-[15.15px] font-bold font-['Inter'] tracking-[3.71px]">a</span></div>
        </div>
        <div class="text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Design System Expert</div>
        <div class="text-neutral-400 text-sm font-normal font-['Inter'] leading-[17.78px]">Creation / Edition or Audit of your DS</div>
      </div>
      <div class="w-[460px] h-[119px] left-0 top-[127px] absolute flex-col justify-start items-start inline-flex">
        <div class="w-[460px] h-[119px] bg-zinc-500 bg-opacity-20 rounded-lg border border-gray-700 border-opacity-20 backdrop-blur-[7px]"></div>
        <div class="w-11 h-11 relative shadow">
          <div class="w-9 h-9 left-[4px] top-[4px] absolute bg-zinc-800 rounded-full border border-zinc-700"></div>
          <img class="w-[20.52px] h-[20.50px] left-[11.95px] top-[11.55px] absolute" src="https://via.placeholder.com/21x20" />
        </div>
        <div class="text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">UX & UI Design</div>
        <div class="text-neutral-400 text-sm font-normal font-['Inter'] leading-[17.78px]">Creation / Edition or Audit of your DS</div>
      </div>
      <div class="w-[460px] h-[119px] left-0 top-[254px] absolute flex-col justify-start items-start inline-flex">
        <div class="w-[460px] h-[119px] bg-zinc-500 bg-opacity-20 rounded-lg border border-gray-700 border-opacity-20 backdrop-blur-[7px]"></div>
        <div class="w-11 h-11 relative">
          <div class="w-9 h-9 left-[4px] top-[4px] absolute bg-zinc-800 rounded-full border border-zinc-700"></div>
          <div class="w-5 h-[15px] left-[12px] top-[15px] absolute">
            <div class="w-[5px] h-[15px] left-0 top-0 absolute">
              <div class="w-[5px] h-[4.89px] left-[-0px] top-[4.89px] absolute bg-amber-200"></div>
            </div>
            <div class="w-[5px] h-[14.67px] left-[7.50px] top-0 absolute">
              <div class="w-[5px] h-[4.89px] left-0 top-[4.89px] absolute bg-indigo-400"></div>
            </div>
            <div class="w-[5px] h-[14.67px] left-[15px] top-0 absolute">
              <div class="w-[5px] h-[4.89px] left-0 top-[4.89px] absolute bg-red-400"></div>
            </div>
          </div>
        </div>
        <div class="text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Brand Design</div>
        <div class="text-neutral-400 text-sm font-normal font-['Inter'] leading-[17.78px]">Creation / Edition or Audit of your DS</div>
      </div>
      <div class="w-[460px] h-[119px] left-0 top-[381px] absolute flex-col justify-start items-start inline-flex">
        <div class="w-[460px] h-[119px] bg-zinc-500 bg-opacity-20 rounded-lg border border-gray-700 border-opacity-20 backdrop-blur-[7px]"></div>
        <div class="w-11 h-11 relative">
          <div class="w-9 h-9 left-[4px] top-[4px] absolute bg-zinc-800 rounded-full border border-zinc-700"></div>
          <div class="w-[11px] h-[16.46px] left-[17px] top-[13.54px] absolute flex-col justify-start items-start flex"></div>
        </div>
        <div class="text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Brand Design</div>
        <div class="text-neutral-400 text-sm font-normal font-['Inter'] leading-[17.78px]">Creation / Edition or Audit of your DS</div>
      </div>
    </div>
    <div class="w-[460px] h-16 left-[490px] top-[982px] absolute">
      <div class="w-[460px] h-16 left-0 top-0 absolute bg-white bg-opacity-10 rounded-md"></div>
      <div class="w-[0.50px] h-7 left-[386px] top-[18px] absolute bg-zinc-300 bg-opacity-25"></div>
      <div class="w-8 h-8 p-px left-[74px] top-[16px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <img class="w-[30px] h-[30px]" src="https://via.placeholder.com/30x30" />
      </div>
      <div class="w-8 h-8 px-px pb-0.5 left-[22px] top-[18px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <div class="w-[30px] h-[30px] relative">
          <div class="w-[30px] h-[30px] left-0 top-0 absolute bg-white bg-opacity-0 rounded-md"></div>
          <img class="w-[26px] h-[26px] left-[2px] top-[2px] absolute" src="https://via.placeholder.com/26x26" />
        </div>
      </div>
      <div class="w-8 h-8 p-px left-[126px] top-[16px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <img class="w-[30px] h-[30px] rounded border border-sky-400" src="https://via.placeholder.com/30x30" />
      </div>
      <div class="w-8 h-8 px-px py-px left-[178px] top-[16px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <img class="w-[29.97px] h-[30px] rounded border border-amber-500" src="https://via.placeholder.com/30x30" />
      </div>
      <div class="w-8 h-8 pl-[1.20px] pr-[1.10px] pt-0.5 pb-[3px] left-[230px] top-[16px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <img class="w-[29.70px] h-[27px]" src="https://via.placeholder.com/30x27" />
      </div>
      <div class="w-8 h-8 p-px left-[282px] top-[16px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <img class="w-[30px] h-[30px]" src="https://via.placeholder.com/30x30" />
      </div>
      <div class="w-8 h-8 pl-[1.25px] pr-[0.75px] py-px left-[334px] top-[16px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <img class="w-[30px] h-[30px]" src="https://via.placeholder.com/30x30" />
      </div>
      <div class="w-8 h-8 p-px left-[407px] top-[16px] absolute bg-white bg-opacity-0 justify-center items-center inline-flex">
        <img class="w-[30px] h-[30px]" src="https://via.placeholder.com/30x30" />
      </div>
      <div class="w-0.5 h-0.5 left-[37px] top-[58px] absolute bg-zinc-300 rounded-full"></div>
    </div>
  </div>
  <div class="w-[1575px] h-[500px] left-[-67px] top-[3290px] absolute">
    <div class="w-[509px] h-[436px] left-[533px] top-[10px] absolute">
      <div class="w-[509px] h-[436px] left-0 top-0 absolute bg-gray-800 rounded-lg border border-zinc-600"></div>
      <div class="w-[507px] h-[434px] left-[1px] top-[1px] absolute bg-gray-800 rounded-lg border border-red-700"></div>
      <img class="w-[767.07px] h-[520.99px] left-[-18px] top-[556.30px] absolute origin-top-left rotate-[-60deg]" src="https://via.placeholder.com/767x521" />
      <div class="w-[445px] left-[32px] top-[195px] absolute text-center text-zinc-100 text-[22px] font-normal font-['Inter'] leading-loose">It was great to work with Kevin on a       UI redesign of our product from A to Z.       He is fast, accurate and expert on SaaS topics. I recommend him!</div>
      <div class="w-[103.50px] left-[202.50px] top-[128px] absolute text-center text-white text-[17px] font-bold font-['Inter']">Dan Elkaim</div>
      <div class="w-[221.50px] left-[144px] top-[153px] absolute text-center"><span style="text-neutral-400 text-[15px] font-normal font-['Inter']">CEO & Co-founder</span><span style="text-slate-500 text-[15px] font-normal font-['Inter']"> </span><span style="text-blue-600 text-[15px] font-medium font-['Inter']">@Topo.io</span></div>
      <div class="w-[100px] h-[41px] left-[202px] top-[364px] absolute bg-neutral-900 bg-opacity-20 rounded border"></div>
      <div class="left-[214px] top-[373px] absolute">
        <div class="left-[27px] top-0 absolute text-neutral-500 text-sm font-medium font-['Inter'] leading-normal">Review</div>
        <div class="w-[19px] h-[19.50px] left-0 top-[1.50px] absolute flex-col justify-start items-start inline-flex">
          <div class="w-[18.46px] h-[18.82px] relative">
          </div>
        </div>
      </div>
      <img class="w-[273.11px] h-[212.09px] left-[-342px] top-[-177px] absolute" src="https://via.placeholder.com/273x212" />
      <div class="w-[132px] h-[48.74px] left-[376px] top-[19px] absolute opacity-90">
        <div class="w-[132px] h-[48.74px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[68.23px] h-[19.80px] left-[29.90px] top-[15.23px] absolute">
          <div class="w-[68.22px] h-[19.80px] left-0 top-0 absolute">
          </div>
        </div>
      </div>
      <div class="w-[79px] h-[79px] left-[215px] top-[33px] absolute opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
      <img class="w-[69px] h-[69px] left-[220px] top-[38px] absolute rounded-full shadow border-white" src="https://via.placeholder.com/69x69" />
    </div>
    <div class="w-[509px] h-[436px] left-[1066px] top-[9px] absolute">
      <div class="w-[509px] h-[436px] left-0 top-0 absolute bg-gray-800 rounded-lg border border-zinc-600"></div>
      <div class="w-[507px] h-[434px] left-[1px] top-[1px] absolute bg-gray-800 rounded-lg border border-red-700"></div>
      <img class="w-[767.07px] h-[520.99px] left-[-18px] top-[556.30px] absolute origin-top-left rotate-[-60deg]" src="https://via.placeholder.com/767x521" />
      <div class="w-[445px] left-[32px] top-[195px] absolute text-center text-zinc-100 text-[22px] font-normal font-['Inter'] leading-loose">Kevin is without a doubt one of the best designer I met in Paris. He helped us redesigning our platform from scratch. In a very short time, he has been able to c</div>
      <div class="w-[103.50px] left-[202.50px] top-[128px] absolute text-center text-white text-[17px] font-bold font-['Inter']">Dan Elkaim</div>
      <div class="w-[221.50px] left-[144px] top-[153px] absolute text-center"><span style="text-neutral-400 text-[15px] font-normal font-['Inter']">CEO & Co-founder</span><span style="text-slate-500 text-[15px] font-normal font-['Inter']"> </span><span style="text-blue-600 text-[15px] font-medium font-['Inter']">@Topo.io</span></div>
      <div class="w-[100px] h-[41px] left-[202px] top-[364px] absolute bg-neutral-900 bg-opacity-20 rounded border"></div>
      <div class="left-[214px] top-[373px] absolute">
        <div class="left-[27px] top-0 absolute text-neutral-500 text-sm font-medium font-['Inter'] leading-normal">Review</div>
        <div class="w-[19px] h-[19.50px] left-0 top-[1.50px] absolute flex-col justify-start items-start inline-flex">
          <div class="w-[18.46px] h-[18.82px] relative">
          </div>
        </div>
      </div>
      <img class="w-[273.11px] h-[212.09px] left-[-342px] top-[-177px] absolute" src="https://via.placeholder.com/273x212" />
      <div class="w-[132px] h-[48.74px] left-[376px] top-[19px] absolute opacity-90">
        <div class="w-[132px] h-[48.74px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[68.23px] h-[19.80px] left-[29.90px] top-[15.23px] absolute">
          <div class="w-[68.22px] h-[19.80px] left-0 top-0 absolute">
          </div>
        </div>
      </div>
      <div class="w-[79px] h-[79px] left-[215px] top-[33px] absolute opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
      <img class="w-[69px] h-[69px] left-[220px] top-[38px] absolute rounded-full shadow border-white" src="https://via.placeholder.com/69x69" />
    </div>
    <div class="w-[447px] h-[446px] left-[1060px] top-0 absolute bg-gradient-to-r from-gray-900 to-gray-900"></div>
    <div class="w-[509px] h-[436px] left-0 top-[9px] absolute">
      <div class="w-[509px] h-[436px] left-0 top-0 absolute bg-gray-800 rounded-lg border border-zinc-600"></div>
      <div class="w-[507px] h-[434px] left-[1px] top-[1px] absolute bg-gray-800 rounded-lg border border-red-700"></div>
      <img class="w-[767.07px] h-[520.99px] left-[-18px] top-[556.30px] absolute origin-top-left rotate-[-60deg]" src="https://via.placeholder.com/767x521" />
      <div class="w-[445px] left-[32px] top-[195px] absolute text-center text-zinc-100 text-[22px] font-normal font-['Inter'] leading-loose">Kevin is without a doubt one of the best designer I met in Paris. He helped us redesigning our platform from scratch. In a very short time, he has been able to c</div>
      <div class="w-[103.50px] left-[202.50px] top-[128px] absolute text-center text-white text-[17px] font-bold font-['Inter']">Dan Elkaim</div>
      <div class="w-[221.50px] left-[144px] top-[153px] absolute text-center"><span style="text-neutral-400 text-[15px] font-normal font-['Inter']">CEO & Co-founder</span><span style="text-slate-500 text-[15px] font-normal font-['Inter']"> </span><span style="text-blue-600 text-[15px] font-medium font-['Inter']">@Topo.io</span></div>
      <div class="w-[100px] h-[41px] left-[202px] top-[364px] absolute bg-neutral-900 bg-opacity-20 rounded border"></div>
      <div class="left-[214px] top-[373px] absolute">
        <div class="left-[27px] top-0 absolute text-neutral-500 text-sm font-medium font-['Inter'] leading-normal">Review</div>
        <div class="w-[19px] h-[19.50px] left-0 top-[1.50px] absolute flex-col justify-start items-start inline-flex">
          <div class="w-[18.46px] h-[18.82px] relative">
          </div>
        </div>
      </div>
      <img class="w-[273.11px] h-[212.09px] left-[-342px] top-[-177px] absolute" src="https://via.placeholder.com/273x212" />
      <div class="w-[132px] h-[48.74px] left-[376px] top-[19px] absolute opacity-90">
        <div class="w-[132px] h-[48.74px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[87.32px] h-[23.36px] left-[22.34px] top-[12.69px] absolute">
          <div class="w-[87.32px] h-[24.51px] left-0 top-[-1.15px] absolute">
            <div class="w-[87.32px] h-[19.69px] left-0 top-[1.38px] absolute">
              <div class="w-[19.34px] h-[19.36px] left-[0.58px] top-0 absolute">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[79px] h-[79px] left-[215px] top-[33px] absolute opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
      <img class="w-[69px] h-[69px] left-[220px] top-[38px] absolute rounded-full shadow border-white" src="https://via.placeholder.com/69x69" />
    </div>
    <div class="w-[447px] h-[446px] left-[510px] top-0 absolute origin-top-left rotate-180 bg-gradient-to-r from-gray-900 to-gray-900"></div>
    <div class="w-[60px] h-[9px] left-[755px] top-[491px] absolute">
      <div class="w-[9px] h-[9px] left-0 top-0 absolute bg-stone-300 rounded-full"></div>
      <div class="w-[9px] h-[9px] left-[17px] top-0 absolute bg-zinc-600 rounded-full"></div>
      <div class="w-[9px] h-[9px] left-[34px] top-0 absolute bg-zinc-600 rounded-full"></div>
      <div class="w-[9px] h-[9px] left-[51px] top-0 absolute bg-zinc-600 rounded-full"></div>
    </div>
  </div>
  <div class="w-[1440px] h-[523px] left-0 top-[2657px] absolute">
    <div class="w-[1440px] h-[167px] left-0 top-0 absolute">
      <div class="w-[1440px] left-0 top-[51px] absolute opacity-90 text-center text-white text-[58px] font-black font-['Inter'] leading-[58.29px] tracking-wide">12+ YEARS XP</div>
    </div>
    <div class="w-[546px] left-[447px] top-[189px] absolute text-center text-neutral-100 text-xl font-semibold font-['Inter']">From Saas to Website & Mobile</div>
    <div class="w-[528px] left-[456px] top-[221px] absolute text-center text-white text-opacity-30 text-lg font-medium font-['Inter']">I’ve had the opportunity to work across all kinds of product</div>
    <div class="w-[987px] h-52 left-[227px] top-[315px] absolute">
      <div class="w-[191px] h-52 left-[199px] top-0 absolute flex-col justify-start items-start inline-flex">
        <div class="w-[191px] h-52 bg-zinc-500 bg-opacity-20 rounded-lg border border-gray-700 backdrop-blur-[7px]"></div>
        <div class="w-[127px] text-center text-neutral-500 text-sm font-normal font-['Inter']">2014 - 2017</div>
        <img class="w-[53px] h-[53px] rounded-full border-white" src="https://via.placeholder.com/53x53" />
        <div class="w-[63px] h-[63px] opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <div class="w-[145px] text-center text-neutral-100 text-sm font-bold font-['Inter']">Freelance</div>
        <div class="w-[123px] text-center text-blue-600 text-[15px] font-medium font-['Inter']">@Kcstudio</div>
        <div class="w-[88px] text-center text-blue-600 text-[17px] font-medium font-['Inter']">🇫🇷</div>
      </div>
      <div class="w-[191px] h-52 left-[796px] top-0 absolute flex-col justify-start items-start inline-flex">
        <div class="w-[191px] h-52 bg-zinc-500 bg-opacity-20 rounded-lg border backdrop-blur-[7px]"></div>
        <div class="w-[127px] text-center text-neutral-500 text-sm font-normal font-['Inter']">2022 - 2024</div>
        <img class="w-[53px] h-[53px] rounded-full border-white" src="https://via.placeholder.com/53x53" />
        <div class="w-[63px] h-[63px] opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <div class="w-[145px] text-center text-neutral-100 text-sm font-bold font-['Inter']">Senior Freelance</div>
        <div class="w-[123px] text-center text-blue-600 text-[15px] font-medium font-['Inter']">@Kcstudio</div>
        <div class="w-[88px] text-center text-blue-600 text-[17px] font-medium font-['Inter']">🇫🇷</div>
      </div>
      <div class="w-[191px] h-52 left-[398px] top-0 absolute flex-col justify-start items-start inline-flex">
        <div class="w-[191px] h-52 bg-zinc-500 bg-opacity-20 rounded-lg border backdrop-blur-[7px]"></div>
        <div class="w-[127px] text-center text-neutral-500 text-sm font-normal font-['Inter']">2017 - 2019</div>
        <img class="w-[53px] h-[53px] rounded-full" src="https://via.placeholder.com/53x53" />
        <div class="w-[63px] h-[63px] opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <div class="w-[145px] text-center text-neutral-100 text-sm font-bold font-['Inter']">Co-founder</div>
        <div class="w-[123px] text-center text-blue-600 text-[15px] font-medium font-['Inter']">@Pukka.io</div>
        <div class="w-[88px] text-center text-blue-600 text-[17px] font-medium font-['Inter']">🇫🇷</div>
      </div>
      <div class="w-[191px] h-52 left-[597px] top-0 absolute flex-col justify-start items-start inline-flex">
        <div class="w-[191px] h-52 bg-zinc-500 bg-opacity-20 rounded-lg border backdrop-blur-[7px]"></div>
        <div class="w-[127px] text-center text-neutral-500 text-sm font-normal font-['Inter']">2020 - 2022</div>
        <img class="w-[53px] h-[53px] rounded-full" src="https://via.placeholder.com/53x53" />
        <div class="w-[63px] h-[63px] opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <div class="w-[145px] text-center text-neutral-100 text-sm font-bold font-['Inter']">Lead Designer</div>
        <div class="w-[123px] text-center text-blue-600 text-[15px] font-medium font-['Inter']">@Strapijs</div>
        <div class="w-[88px] text-center text-blue-600 text-[17px] font-medium font-['Inter']">🇫🇷</div>
      </div>
      <div class="w-[191px] h-52 left-0 top-0 absolute flex-col justify-start items-start inline-flex">
        <div class="w-[191px] h-52 bg-zinc-500 bg-opacity-20 rounded-lg border backdrop-blur-[7px]"></div>
        <div class="w-[127px] text-center text-neutral-500 text-sm font-normal font-['Inter']">2012 - 2014</div>
        <img class="w-[53px] h-[53px] rounded-full border-white" src="https://via.placeholder.com/53x53" />
        <div class="w-[63px] h-[63px] opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <div class="w-[145px] text-center text-neutral-100 text-sm font-bold font-['Inter']">Product Designer</div>
        <div class="w-[123px] text-center text-blue-600 text-[15px] font-medium font-['Inter']">@Sushio</div>
        <div class="w-[88px] text-center text-blue-600 text-[17px] font-medium font-['Inter']">🇺🇸</div>
      </div>
    </div>
  </div>
  <div class="w-[1334px] h-[1237px] left-[53px] top-[1240px] absolute">
    <div class="w-[434px] h-[399px] left-0 top-0 absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Topo UI redesign</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Topo</div>
      <img class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute rounded-[38px]" src="https://via.placeholder.com/40x40" />
    </div>
    <div class="w-[434px] h-[399px] left-[450px] top-0 absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Bastion UI redesign</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Topo</div>
      <img class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute rounded-[22px]" src="https://via.placeholder.com/40x40" />
    </div>
    <div class="w-[434px] h-[399px] left-[900px] top-0 absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Strapi Product</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Strapi</div>
      <div class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute">
        <div class="w-[39.81px] h-[39.81px] left-0 top-0 absolute bg-indigo-600 rounded-[19.51px]"></div>
        <div class="w-[17.61px] h-[17.61px] left-[8.72px] top-[13.49px] absolute">
          <img class="w-[11.80px] h-[11.80px] left-[5.81px] top-0 absolute" src="https://via.placeholder.com/12x12" />
          <div class="w-1.5 h-1.5 left-[5.81px] top-[5.81px] absolute opacity-40 bg-white rounded-tr-[0.06px] rounded-bl-[0.12px]"></div>
        </div>
      </div>
    </div>
    <div class="w-[434px] h-[399px] left-[450px] top-[419px] absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Strapi Branding</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Strapi</div>
      <div class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute">
        <div class="w-[39.81px] h-[39.81px] left-0 top-0 absolute bg-indigo-600 rounded-[19.51px]"></div>
        <div class="w-[17.61px] h-[17.61px] left-[8.72px] top-[13.49px] absolute">
          <img class="w-[11.80px] h-[11.80px] left-[5.81px] top-0 absolute" src="https://via.placeholder.com/12x12" />
          <div class="w-1.5 h-1.5 left-[5.81px] top-[5.81px] absolute opacity-40 bg-white rounded-tr-[0.06px] rounded-bl-[0.12px]"></div>
        </div>
      </div>
    </div>
    <div class="w-[434px] h-[399px] left-[450px] top-[838px] absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Strapi Branding</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Strapi</div>
      <div class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute">
        <div class="w-[39.81px] h-[39.81px] left-0 top-0 absolute bg-indigo-600 rounded-[19.51px]"></div>
        <div class="w-[17.61px] h-[17.61px] left-[8.72px] top-[13.49px] absolute">
          <img class="w-[11.80px] h-[11.80px] left-[5.81px] top-0 absolute" src="https://via.placeholder.com/12x12" />
          <div class="w-1.5 h-1.5 left-[5.81px] top-[5.81px] absolute opacity-40 bg-white rounded-tr-[0.06px] rounded-bl-[0.12px]"></div>
        </div>
      </div>
    </div>
    <div class="w-[434px] h-[399px] left-0 top-[419px] absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Topo Navigation</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Strapi</div>
      <img class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute rounded-[38px]" src="https://via.placeholder.com/40x40" />
    </div>
    <div class="w-[434px] h-[399px] left-0 top-[838px] absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Chainlit Branding</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Strapi</div>
      <img class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute rounded-[32px]" src="https://via.placeholder.com/40x40" />
    </div>
    <div class="w-[434px] h-[399px] left-[900px] top-[419px] absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-gray-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-neutral-100 text-base font-semibold font-['Inter'] leading-tight">Strapi Conf Identity</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-gray-500 text-[13px] font-medium font-['Inter'] leading-none">Strapi</div>
      <div class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute">
        <div class="w-[39.81px] h-[39.81px] left-0 top-0 absolute bg-indigo-600 rounded-[19.51px]"></div>
        <div class="w-[17.61px] h-[17.61px] left-[8.72px] top-[13.49px] absolute">
          <img class="w-[11.80px] h-[11.80px] left-[5.81px] top-0 absolute" src="https://via.placeholder.com/12x12" />
          <div class="w-1.5 h-1.5 left-[5.81px] top-[5.81px] absolute opacity-40 bg-white rounded-tr-[0.06px] rounded-bl-[0.12px]"></div>
        </div>
      </div>
    </div>
    <div class="w-[434px] h-[399px] left-[900px] top-[838px] absolute">
      <div class="w-[434px] h-[399px] left-0 top-0 absolute bg-zinc-500 bg-opacity-20 rounded-lg border"></div>
      <img class="w-[398px] h-[299px] left-[18px] top-[20px] absolute" src="https://via.placeholder.com/398x299" />
      <div class="left-[66.58px] top-[339.43px] absolute text-white text-base font-semibold font-['Inter'] leading-tight">Illustrations</div>
      <div class="left-[66.58px] top-[362.43px] absolute text-neutral-400 text-[13px] font-medium font-['Inter'] leading-none">Kcstudio</div>
      <div class="w-[39.81px] h-[39.81px] left-[18px] top-[339px] absolute">
        <div class="w-[39.81px] h-[39.81px] left-0 top-0 absolute bg-black rounded-[19.51px]"></div>
        <img class="w-3.5 h-[18px] left-[13px] top-[11px] absolute" src="https://via.placeholder.com/14x18" />
      </div>
    </div>
  </div>
  <div class="w-[1440px] h-[746px] left-0 top-[100px] absolute">
    <img class="w-[1440px] h-[571px] left-0 top-[175px] absolute shadow" src="https://via.placeholder.com/1440x571" />
    <div class="w-[617px] h-[480px] left-[411px] top-[197px] absolute opacity-90 text-center text-white text-8xl font-black font-['Inter'] leading-[96.48px] tracking-widest"><br/>SENIOR<br/>FREELANCE    DESIGNER<br/>    </div>
    <div class="w-[154px] h-[169px] left-[643px] top-[75px] absolute">
      <div class="left-[63px] top-[141px] absolute text-center text-neutral-100 text-[28px] font-bold font-['Inter']">👋</div>
      <div class="w-[154px] h-[154px] left-0 top-0 absolute">
        <div class="w-[154px] h-[154px] left-0 top-[154px] absolute opacity-75 bg-gradient-to-b from-zinc-500 to-zinc-500 rounded-full border border-white border-opacity-20"></div>
        <img class="w-[121.92px] h-[121.92px] left-[16.04px] top-[16.04px] absolute rounded-[90px] border border-white" src="https://via.placeholder.com/122x122" />
      </div>
    </div>
    <div class="left-[633px] top-0 absolute text-center text-neutral-100 text-[40px] font-bold font-['Inter']">I’m Kevin </div>
  </div>
  <div class="w-[960px] h-[298px] left-[240px] top-[822px] absolute">
    <div class="w-[546px] left-[207px] top-0 absolute text-center text-neutral-100 text-xl font-semibold font-['Inter']">Over the last 12 years, I've empowered 25+ companies</div>
    <div class="w-[438px] left-[261px] top-[32px] absolute text-center text-white text-opacity-30 text-lg font-medium font-['Inter']">Creating stunning designs that make a real impact</div>
    <div class="w-[960px] h-[156px] left-0 top-[142px] absolute">
      <div class="w-[132.19px] h-[48.89px] left-[137.92px] top-0 absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[81.71px] h-[19.31px] left-[25.30px] top-[15.28px] absolute">
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[413.77px] top-0 absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <img class="w-[101.69px] h-[19.86px] left-[16.78px] top-[13.75px] absolute" src="https://via.placeholder.com/102x20" />
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[-0px] top-[107.11px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[78.81px] h-[14.26px] left-[27.46px] top-[17.31px] absolute"></div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[137.92px] top-[107.11px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <img class="w-[82.37px] h-[17.70px] left-[25.42px] top-[14.77px] absolute" src="https://via.placeholder.com/82x18" />
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[-0px] top-[54.06px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <img class="w-[84.26px] h-[16.30px] left-[24.22px] top-[16.30px] absolute" src="https://via.placeholder.com/84x16" />
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[827.54px] top-[54.06px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[87.45px] h-[23.43px] left-[22.37px] top-[12.73px] absolute">
          <div class="w-[87.45px] h-[24.59px] left-[-0px] top-[-1.15px] absolute">
            <div class="w-[87.45px] h-[19.75px] left-[-0px] top-[1.38px] absolute">
              <div class="w-[19.36px] h-[19.42px] left-[0.58px] top-0 absolute">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[689.62px] top-[106.95px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <img class="w-[78.81px] h-[32.08px] left-[26.44px] top-[7.13px] absolute" src="https://via.placeholder.com/79x32" />
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[276.11px] top-0 absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[68.33px] h-[19.86px] left-[29.94px] top-[15.28px] absolute">
          <div class="w-[68.32px] h-[19.86px] left-0 top-0 absolute">
          </div>
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[137.92px] top-[54.06px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[82.75px] h-[15.79px] left-[24.91px] top-[15.79px] absolute"></div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[689.62px] top-0 absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[86.43px] h-[19.60px] left-[22.37px] top-[14.64px] absolute"></div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[551.69px] top-[107.11px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <img class="w-[79.94px] h-[14.26px] left-[26.12px] top-[17.31px] absolute" src="https://via.placeholder.com/80x14" />
      </div>
      <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[83.38px] h-[20.23px] left-[24.41px] top-[14.26px] absolute justify-center items-start gap-1.5 inline-flex">
          <div class="w-[20.20px] h-[20.23px] relative">
            <div class="w-[10.31px] h-[10.33px] left-[3.77px] top-[6.14px] absolute">
              <img class="w-[6.94px] h-[6.95px] left-[3.37px] top-0 absolute" src="https://via.placeholder.com/7x7" />
              <div class="w-[0.13px] h-[0.13px] left-[6.71px] top-[3.47px] absolute bg-white"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[275.85px] top-[54.06px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[81.62px] h-[14.77px] left-[25.42px] top-[16.81px] absolute"></div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[275.85px] top-[107.11px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[74.23px] h-[24.31px] left-[28.47px] top-[12.96px] absolute">
          <div class="w-[23.57px] h-[24.31px] left-0 top-0 absolute">
            <div class="w-[23.57px] h-[24.31px] left-0 top-0 absolute">
            </div>
            <div class="w-[21.38px] h-[22.22px] left-[1.09px] top-[1.04px] absolute">
            </div>
          </div>
          <div class="w-[46.75px] h-[16.36px] left-[27.48px] top-[1.56px] absolute">
          </div>
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[689.62px] top-[54.06px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <img class="w-[59.49px] h-[27.50px] left-[36.10px] top-[9.68px] absolute" src="https://via.placeholder.com/59x27" />
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[551.69px] top-[54.06px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[81.19px] h-[27.50px] left-[25.93px] top-[10.19px] absolute"></div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[551.96px] top-0 absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[83.38px] h-[30.77px] pl-0.5 pr-[1.59px] left-[24.41px] top-[9.17px] absolute justify-center items-center inline-flex">
          <div class="w-[79.81px] h-[26.90px] relative">
          </div>
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[413.77px] top-[54.06px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[82.43px] h-[17.01px] left-[25.36px] top-[16.30px] absolute">
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[413.77px] top-[107.11px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <img class="w-[68.13px] h-[18.33px] left-[32.03px] top-[15.28px] absolute" src="https://via.placeholder.com/68x18" />
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[827.81px] top-[106.95px] absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[70.71px] h-[18.54px] left-[30.51px] top-[14.77px] absolute">
          <div class="w-[17.36px] h-[18.54px] left-0 top-0 absolute">
          </div>
        </div>
      </div>
      <div class="w-[132.19px] h-[48.89px] left-[827.54px] top-0 absolute">
        <div class="w-[132.19px] h-[48.89px] left-0 top-0 absolute bg-gray-900 bg-opacity-0"></div>
        <div class="w-[90.61px] h-[21.23px] left-[20.79px] top-[13.83px] absolute">
        </div>
      </div>
    </div>
  </div>
  <div class="w-[1384px] h-[54px] left-[28px] top-[20px] absolute bg-gray-900">
    <div class="w-[242px] h-12 left-[6px] top-[3px] absolute">
      <div class="w-12 h-12 left-[50px] top-0 absolute">
        <div class="w-12 h-12 left-0 top-0 absolute rounded-md border"></div>
        <div class="w-6 h-6 left-[12px] top-[12px] absolute"></div>
      </div>
      <div class="w-12 h-12 left-[98px] top-0 absolute">
        <div class="w-12 h-12 left-0 top-0 absolute rounded-md border"></div>
        <div class="w-6 h-6 left-[12px] top-[12px] absolute">
          <img class="w-6 h-6 left-0 top-0 absolute" src="https://via.placeholder.com/24x24" />
        </div>
      </div>
      <div class="w-12 h-12 left-[146px] top-0 absolute">
        <div class="w-12 h-12 left-0 top-0 absolute rounded-md border"></div>
        <div class="w-6 h-6 left-[12px] top-[12px] absolute"></div>
      </div>
      <div class="w-12 h-12 left-[194px] top-0 absolute">
        <div class="w-12 h-12 left-0 top-0 absolute rounded-md border"></div>
        <div class="w-6 h-6 left-[12px] top-[12px] absolute justify-center items-center inline-flex">
          <div class="w-[26px] h-[26px] relative flex-col justify-start items-start flex"></div>
        </div>
      </div>
    </div>
    <div class="w-[471px] h-[51px] left-[912px] top-[1px] absolute">
      <div class="px-3.5 pt-3 pb-[13px] left-0 top-[5px] absolute bg-gray-900 bg-opacity-0 rounded-lg justify-start items-start gap-2.5 inline-flex">
        <div class="opacity-50 text-center text-neutral-100 text-sm font-medium font-['Inter']">Works</div>
      </div>
      <div class="px-3.5 pt-3 pb-[13px] left-[190px] top-[5px] absolute bg-gray-900 bg-opacity-0 rounded-lg justify-start items-start gap-2.5 inline-flex">
        <div class="opacity-50 text-center text-neutral-100 text-sm font-medium font-['Inter']">Services</div>
      </div>
      <div class="px-3.5 pt-3 pb-[13px] left-[75px] top-[5px] absolute bg-gray-900 bg-opacity-0 rounded-lg justify-start items-start gap-2.5 inline-flex">
        <div class="opacity-50 text-center text-neutral-100 text-sm font-medium font-['Inter']">Experiences</div>
      </div>
      <div class="w-[181px] h-[51px] left-[290px] top-0 absolute">
        <div class="w-[181px] h-[51px] left-0 top-0 absolute bg-zinc-500 bg-opacity-20 rounded-lg border"></div>
        <div class="left-[20px] top-[16px] absolute text-center text-white text-[15px] font-bold font-['Inter']">contact@kc.studio</div>
      </div>
    </div>
  </div>
</div>