---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
---

<section class="relative">

    <section  class="rounder" dir="rtl">
      <div class="max-w-6xl px-8 mx-auto lg:px-4">
        <div class="mb-16 text-center">
          <h2
            class="max-w-xl mx-auto mb-4 text-2xl sm:text-3xl md:text-5xl font-bold text-gray-500 dark:text-gray-100 font-heading"
          >
            <span>عروض حصرية و</span>
            <span class="relative pl-2 mr-2 text-teal-700">
              <span class="relative z-10">ارباح مضمونة</span>
              <span
                class="absolute bottom-0 left-0 w-full h-3 transform -skew-x-6 bg-teal-100"
              >
              </span>
            </span>
            <span> </span>
          </h2>
          <p class="max-w-2xl mx-auto text-lg text-gray-500 dark:text-gray-100">
            تعرف علي أفضل الكوبونات التي نقدمها لك
          </p>
        </div>






      

        <div class="w-full flex  flex-col items-center md:flex-row  justify-center flex-wrap my-10 mx-auto gap-10 px-4">
          
          
          
          
        
<div
class="relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-gray-400 via-gray-500 to-gray-700 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
<img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716194787/copy/cards/%D9%83%D9%88%D8%A8%D9%88%D9%86_%D8%A7%D9%84%D8%B1%D8%A8%D8%AD_%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_ansvat.jpg">
<button class="hidden group-hover:block  absolute bottom-4  left-[40%]   cursor-pointer transition-all bg-gray-500 text-white px-6 py-2 rounded-lg
border-gray-600
border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
 المزيد
</button>
</div>









<div
  class=" relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-lime-900 via-lime-950 to-lime-950 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
<img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716194790/copy/cards/%D9%83%D9%88%D8%A8%D9%88%D9%86_%D8%A7%D9%84%D8%B1%D8%A8%D8%AD_%D8%A7%D9%84%D9%85%D8%AA%D9%82%D8%AF%D9%85_bhcpjy.jpg"
>
<button class="hidden group-hover:block  absolute bottom-4  left-[40%]   cursor-pointer transition-all bg-lime-950 text-white px-6 py-2 rounded-lg
border-lime-900/90
border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
 المزيد
</button>
</div>








<div
  class=" relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-teal-400 via-teal-500 to-teal-700 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
  <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716194793/copy/cards/%D9%83%D8%A8%D9%88%D9%86_%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_n9bq2h.jpg">



  <button class="hidden group-hover:block  absolute bottom-4  left-[40%]   cursor-pointer transition-all bg-teal-500 text-white px-6 py-2 rounded-lg
  border-teal-600
  border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
  active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
   المزيد
  </button>

</div>








<div
  class=" relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-purple-400 via-purple-500 to-purple-700 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
<img class=" " src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716207688/copy/cards/%D8%A7%D9%84%D8%AB%D8%B1%D9%88%D8%A9_%D8%A7%D9%84%D8%B4%D8%A7%D9%85%D9%84%D8%A9_rdhx3n.jpg">
 
  <button class="hidden group-hover:block  absolute bottom-4  left-[40%]   cursor-pointer transition-all bg-purple-500 text-white px-6 py-2 rounded-lg
  border-purple-600
  border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
  active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
   المزيد
  </button>



 
  
</div>








 
</div>   </div>   
    
    































    </section>

  <style>


    .bg-1 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/VGgcT.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bg-4 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/V2Bo9.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-3 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/VGp58.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-2 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/VG8t9.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</section>
