---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
---

<section class="relative">

    <section  class="rounder" dir="rtl">
      <div class="max-w-6xl px-8 mx-auto lg:px-4">
        <div class="mb-16 text-center">
          <h2
            class="max-w-xl mx-auto mb-4 text-2xl sm:text-3xl md:text-5xl font-bold text-gray-500 dark:text-gray-100 font-heading"
          >
            <span>عروض حصرية و</span>
            <span class="relative pl-2 mr-2 text-teal-700">
              <span class="relative z-10">ارباح مضمونة</span>
              <span
                class="absolute bottom-0 left-0 w-full h-3 transform -skew-x-6 bg-teal-100"
              >
              </span>
            </span>
            <span> </span>
          </h2>
          <p class="max-w-2xl mx-auto text-lg text-gray-500 dark:text-gray-100">
            تعرف علي أفضل الكوبونات التي نقدمها لك
          </p>
        </div>






      

        <div class="w-full flex  flex-col items-center md:flex-row  justify-center flex-wrap my-10 mx-auto gap-10 px-4">
          
          
          
          
        
<div
class="relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-gray-400 via-gray-500 to-gray-700 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
<img loading="lazy"  src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091596/copy/cards/%D9%83%D9%88%D8%A8%D9%88%D9%86_%D8%A7%D9%84%D8%B1%D8%A8%D8%AD_%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A_ansvat_ebfyix.webp">
<a href="../couopn1" class="Btn absolute bottom-4  md:right-40 right-20 md:w-[140px] w-[100px]   cursor-pointer ">
</a>

</div>









<div class=" relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-lime-900 via-lime-950 to-lime-950 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
<img loading="lazy"  src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091596/copy/cards/%D9%83%D9%88%D8%A8%D9%88%D9%86_%D8%A7%D9%84%D8%B1%D8%A8%D8%AD_%D8%A7%D9%84%D9%85%D8%AA%D9%82%D8%AF%D9%85_bhcpjy_sauh9s.webp"
>
<a href="../couopn2" class="Btn  absolute bottom-4  md:right-40 right-20 md:w-[140px] w-[100px]   cursor-pointer ">
</a>
</div>








<div
  class=" relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-teal-400 via-teal-500 to-teal-700 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
  <img loading="lazy"  src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091599/copy/cards/%D9%83%D8%A8%D9%88%D9%86_%D8%A7%D8%B1%D8%A8%D8%A7%D8%AD_%D8%A7%D9%84%D9%86%D8%AE%D8%A8%D8%A9_n9bq2h_fm93vg.webp">



  <a  href="couopn3" class="Btn absolute bottom-4  md:right-40 right-20 md:w-[140px] w-[100px]   cursor-pointer ">
  </a>

</div>








<div
  class=" relative md:w-2/5 group hover:-rotate-0 [transform:rotate3d(1_,-1,_1,_12deg)] duration-500 overflow-hidden bg-gradient-to-bl from-purple-400 via-purple-500 to-purple-700 md:p-3  p-2 rounded-lg hover:shadow-lg [box-shadow:12px_12px_0px_0px_#0d0d0d] backdrop-filter backdrop-blur-md "
> 
<img loading="lazy"  class=" " src="https://res.cloudinary.com/dt9k74vof/image/upload/v1718091598/copy/cards/%D8%A7%D9%84%D8%AB%D8%B1%D9%88%D8%A9_%D8%A7%D9%84%D8%B4%D8%A7%D9%85%D9%84%D8%A9_rdhx3n_xckhry.webp">
<a href="couopn4" class="Btn  absolute bottom-4  md:right-40 right-20 md:w-[140px] w-[100px]   cursor-pointer ">
</a>



 
  
</div>








 
</div>   </div>   
    
    































    </section>

  <style>


    .bg-1 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/VGgcT.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bg-4 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/V2Bo9.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-3 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/VGp58.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-2 {
      background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://s6.imgcdn.dev/VG8t9.png);
      background-repeat: no-repeat;
      background-size: cover;
    }


   
.Btn {
  
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "المزيد";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
} </style>

</section>
