---
import Button2 from "../shared/Button2.astro";


import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---




<section class="relative lg:pt-10  xl:pt-36" dir="rtl">
    <Container className={"flex flex-col  lg:flex-row gap-10 lg:gap-12 w-5/6" }>
        <div class="absolute w-full xl:w-1/2 inset-y-0 lg:right-0 ">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-lime-100 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-lime-300 blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-Lime-900  to-lime-950 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        <div class="relative flex flex-col items-center text-center  lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
            
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1 mb-10">
      
         <span class="text-transparent bg-clip-text bg-gradient-to-br text-center from-lime-800 from-20% via-Lime-900 via-30% to-lime-300">    استثمر في مستقبلك مع مكافأة ترحيبية  تصل ل 380 دولار</span> 
            </h1>
<div class="flex justify-center flex-col w-full text-center">
     
    <a href="https://wa.me/201063588999"><Button2    variant={"primary"} className="bg-lime-900 hover:bg-lime-500 mt-3 w-52 mx-auto text-center">
        <span class="text-white   relative z-[5]"> انضم الينا</span>
      </Button2>  </a>



</div>


            <div class="mt-10  w-full flex max-w-md mx-auto lg:mx-0">
                <div class="flex sm:flex-row flex-col gap-5 w-full ">
                    
                </div>
            </div>
        </div>
 

        

        
    </Container>

    



    <div class="max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between mt-10">

        <div class="text-center">
            <p class="mt-4 text-sm leading-7 text-gray-500 font-regular">
            الخطوات
            </p>
            <h3 class="text-3xl sm:text-5xl leading-normal font-extrabold tracking-tight text-gray-900">
               كيف تحصل على 
               <br>
               
               
               <span class="text-teal-600">كوبون الربح المتقدم؟</span>
            </h3>
    
        </div>
    
        <div class="mt-20">
            <ul class="md:grid md:grid-cols-3 md:col-gap-10 md:row-gap-10">
    
                <li class=" bg-gray-100 p-5 pb-10 text-center">
                    <div class="flex flex-col items-center">
                        <div class="flex-shrink-0 relative top-0 -mt-16">
                            <div
                                class="flex items-center justify-center h-20 w-20 rounded-full bg-teal-500 text-white border-4 border-white text-xl font-semibold">
                                1
                            </div>
                        </div>
                        <div class="mt-4">
                            <h4 class="text-lg leading-6 font-semibold text-gray-900">الاشتراك</h4>
                            <p class="mt-2 text-base leading-6 text-gray-500">
                               اختر الكوبون المناسب وقم بالاشتراك
                            </p>
                        </div>
                    </div>
                </li>
                <li class=" bg-gray-100 p-5 pb-10 text-center">
                    <div class="flex flex-col items-center">
                        <div class="flex-shrink-0 relative top-0 -mt-16">
                            <div
                                class="flex items-center justify-center h-20 w-20 rounded-full bg-teal-500 text-white border-4 border-white text-xl font-semibold">
                                2
                            </div>
                        </div>
                        <div class="mt-4">
                            <h4 class="text-lg leading-6 font-semibold text-gray-900">التسجيل</h4>
                            <p class="mt-2 text-base leading-6 text-gray-500">
                              قم بالتسجيل من خلال منصة  من المنصات المرسحة لك
                            </p>
                        </div>
                    </div>
                </li>
                <li class=" bg-gray-100 p-5 pb-10 text-center">
                    <div class="flex flex-col items-center">
                        <div class="flex-shrink-0 relative top-0 -mt-16">
                            <div
                                class="flex items-center justify-center h-20 w-20 rounded-full bg-teal-500 text-white border-4 border-white text-xl font-semibold">
                                3
                            </div>
                        </div>
                        <div class="mt-4">
                            <h4 class="text-lg leading-6 font-semibold text-gray-900">المكافأة</h4>
                            <p class="mt-2 text-base leading-6 text-gray-500">
 بمجرد التسجيل ستحصل على الكاش باك وامكانية نسخ الصفات 
                            </p>
                        </div>
                    </div>
                </li>
    
            </ul>
        </div>
    
    </div>














    

</section>