---
import Button2 from "../shared/Button2.astro";


import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---




<section class="relative  xl:pt-60" dir="rtl">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>


        <div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
            <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716302006/copy/cards/%D8%A7%D9%84%D8%AB%D8%B1%D9%88%D8%A9_%D8%A7%D9%84%D8%B4%D8%A7%D9%85%D9%84%D8%A9_kvjk0p.png" alt="Hero image" width="2350" height="2359" class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96" style="object-fit:contain">
        </div>


        
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-rose-100 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-purple-600 blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-purple-600 to-rose-900 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        <div class="relative flex flex-col items-center text-right  lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
            
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1">
             حقق أحلامك المالية
         
         <span class="text-transparent bg-clip-text bg-gradient-to-br text-center from-indigo-600 from-20% via-primary via-30% to-rose-900">    مع عروض ومميزات كوبون الثروة الشاملة  </span> 
            </h1>
<div class="flex justify-center flex-col w-full text-center">
    <p class="mt-8 text-center md:text-2xl   text-lg text-violet-950 font-semibold dark:text-white   ">
        تمتع بتجربة تداول معززة   و <span  class="mt-8 text-center text-2xl md:text-3xl text-violet-800  dark:text-violet-800  font-bold "> نسخ صفقات تلقائي   </span>مدي الحياة مجانا   
    </p>

    <a href="https://wa.me/201063588999"><Button2   variant={"primary"} className="bg-purple-600  hover:bg-blue-500 mt-3 w-2/3 mx-auto text-center">
        <span class="text-white   relative z-[5]"> انضم الينا</span>
      </Button2>  </a>

  

</div>


            <div class="mt-10  w-full flex max-w-md mx-auto lg:mx-0">
                <div class="flex sm:flex-row flex-col gap-5 w-full ">
                    
                </div>
            </div>
        </div>

      

        

        
    </Container>
   

</section>