---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};


---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
               ما الذي نقدمه لك؟
            </Title>
            <Paragraph>
                نحن نوفر لك فرصة لتحقيق دخل إضافي دون جهد أو خبرة في عالم التداول
            </Paragraph>
        </div>
        <div class="grid  sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-8 ">
            {
                    services.map((service: ServicesProps) => {
                    return (
                            <Service title={service.title} description={service.description} icon={service.icon}>
                            </Service>
                            );
                    })
            }
        </div>
    </Container>





<div class="relative py-16">

    <div aria-hidden="true"
        class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-teal-500 to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>

    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
        <div class="relative">
            
         

            <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
                <h1 class="text-center text-2xl font-bold text-emerald-800 dark:text-white md:text-5xl">مع مجموعة من افضل الوسطاء 
                </h1>
                <p class="text-center text-xl text-gray-600 dark:text-gray-300">
                  تم ترشحهم لك بعناية
                </p>
                
            </div>
        </div>
        
<img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1716573677/copy/cards/logos_xw2vjl.png">


    </div>

</div>




</section>