---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data2";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};


---

<section id="services" class="lg:py-20 my-10">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
               ما الذي نقدمه لك؟
            </Title>
            <Paragraph>
                نحن نوفر لك فرصة لتحقيق دخل إضافي دون جهد أو خبرة في عالم التداول
            </Paragraph>
        </div>
        <div class="grid  sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-8 m-auto justify-center">
            {
                    services.map((service: ServicesProps) => {
                    return (
                            <Service title={service.title} description={service.description} icon={service.icon}>
                            </Service>
                            );
                    })
            }
        </div>
    </Container>
</section>