---

import Layout from "../layouts/Layout.astro"
import BtnLink2 from "../components/shared/BtnLink2.astro"
import BestBroker from "../components/Brokers/BestBroker.astro"
import ComentForm from "../components/shared/ComentForm.astro"



---

<Layout title="تفاصيل الوسيط">

<div class="main">
    <div style="background-color: #ddd;" class="lg:rounded-full">
    <div class="main-company flex flex-col md:mt-52 md:flex-row-reverse justify-between container items-center">
        <div class="company-img w-full min-w-52 md:min-w-16">
            <img class="h-20 w-full md:rounded shadow-md m-auto " src="https://res.cloudinary.com/dt9k74vof/image/upload/v1703669065/copy/evest_xjj0rq.jpg">
        </div>
        <div class="company-content min-w-64 lg:text-right text-center">
            <h2 class="font-bold text-xl mb-2">تقييم شركة أفاتريد AvaTrade
            </h2>
            <p class="mb-3">
                شركة افاتريد شركة وساطة مالية عبر الانترنت تأسست عام 2006 وتقدم خدمات التداول في العقود مقابل الفروقات على العملات والأسهم والمؤشرات والمعادن والعملات الرقمية والطاقة.
            </p>
        </div>
    
        <div class="create-account ">
            <div class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0">
                <BtnLink2 text="فتح حساب" href="https://wa.me/201063588999" className="flex justify-center  w-full min-w-52 sm:w-max" variant="primary"/>
            </div>
        </div>
    </div>
</div>
    <div class="company-info container">
        <div class="article-1 text-right">
            <h1 class="article-head head ">تفاصيل ومعلومات شركة أفاتريد AvaTrade</h1>
        </div>
        <div class="details flex flex-col md:flex-row-reverse  items-center">
            <div class="flex justify-end">
                <span class="">منصات التداول</span>
                <span class="material-symbols-outlined text-emerald-700 ml-2">  shopping_cart</span>
            </div>
            <div class="trade text-center">
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
            </div>
        </div>
        <div class="details flex flex-col md:flex-row-reverse items-center">
            <div class="flex justify-end">
                <span>منتجات التداول</span>
                <span class="material-symbols-outlined text-emerald-700 ml-2"> currency_pound </span>
                </div>
            <div class="trade text-center">
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
            </div>
        </div>
        <div class="details flex flex-col md:flex-row-reverse items-center">
            <div class="flex justify-end">
                <span>  طرق الإيداع والسحب</span>
                <span class="material-symbols-outlined text-emerald-700 ml-2"> paid</span>
            </div>
            <div class="trade text-center">
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
            </div>
        </div>
        <div class="details flex flex-col md:flex-row-reverse items-center">
            <div class="flex justify-end">
                <span> حد الإيداع</span>
                <span class="material-symbols-outlined text-emerald-700 ml-2"> payments  </span>
            </div>
            <div class="trade text-center">
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
            </div>
        </div>
        <div class="details flex flex-col md:flex-row-reverse items-center">
            <div class="flex justify-end">
                <span>التراخيص</span>
                <span class="material-symbols-outlined text-emerald-700 ml-2">description </span>
            </div>
            <div class="trade text-center">
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
                <button>Ava Option</button>
            </div>
        </div>
        <div class="article-1 text-right">
        </div>
        <div class="article-1 text-right">
            <h1 class="article-head head text-center lg:text-right">تفاصيل ومعلومات شركة أفاتريد AvaTrade</h1>
            <p>شركة افاتريد شركة وساطة مالية عبر الانترنت تأسست عام 2006 وتقدم خدمات التداول في العقود مقابل الفروقات على العملات والأسهم والمؤشرات والمعادن والعملات الرقمية والطاقة.

                برزت آفاتريد Avatrade كشركة رائدة في مجال التداول الالكتروني للعملات منذ أكثر من 17 عاما، حيث تأسست بفضل جهود مشتركة من فريق متخصص من الخبراء الماليين والمتخصصين في مجالات التداولات وتداول العملات عبر الإنترنت.
                
                تتميز آفاتريد بالنزاهة والشفافية، إضافة إلى خدمة عملاء متميزة ودعم ممتاز، فضلا عن استمرارية في التطوير والإبداع حيث تسعى الشركة إلى تمكين الأفراد للاستثمار والتداول بثقة في بيئة مبتكرة وموثوقة، حيث توفر أفضل الخدمات لضمان تجربة استثمارية متميزة.
                
                في غضون سنوات قليلة، نمت شركة افاتريد بسرعة ملحوظة، حيث وصل عدد عملائها إلى 400 ألف عميل من مختلف أنحاء العالم. يقوم هؤلاء العملاء بتنفيذ أكثر من مليوني صفقة تداول شهريًا، مما يجعل حجم التداول للشركة يتجاوز 60 مليون دولار في الشهر.
                
                تضم شركة آفاتريد مكاتب محلية وإقليمية في مختلف بلدان العالم بما في ذلك الإمارات العربية المتحدة و دبلن و ميلانو و طوكيو و سيدني وأبو ظبي بالاضافة الى المقر الرئيسي للشركة في دبلن، العاصمة الإيرلندية</p>
        </div>
        <div class="article-1 text-right">
            <h1 class="article-head head text-center lg:text-right ">تفاصيل ومعلومات شركة أفاتريد AvaTrade</h1>
            <p>شركة افاتريد شركة وساطة مالية عبر الانترنت تأسست عام 2006 وتقدم خدمات التداول في العقود مقابل الفروقات على العملات والأسهم والمؤشرات والمعادن والعملات الرقمية والطاقة.

                برزت آفاتريد Avatrade كشركة رائدة في مجال التداول الالكتروني للعملات منذ أكثر من 17 عاما، حيث تأسست بفضل جهود مشتركة من فريق متخصص من الخبراء الماليين والمتخصصين في مجالات التداولات وتداول العملات عبر الإنترنت.
                
                تتميز آفاتريد بالنزاهة والشفافية، إضافة إلى خدمة عملاء متميزة ودعم ممتاز، فضلا عن استمرارية في التطوير والإبداع حيث تسعى الشركة إلى تمكين الأفراد للاستثمار والتداول بثقة في بيئة مبتكرة وموثوقة، حيث توفر أفضل الخدمات لضمان تجربة استثمارية متميزة.
                
                في غضون سنوات قليلة، نمت شركة افاتريد بسرعة ملحوظة، حيث وصل عدد عملائها إلى 400 ألف عميل من مختلف أنحاء العالم. يقوم هؤلاء العملاء بتنفيذ أكثر من مليوني صفقة تداول شهريًا، مما يجعل حجم التداول للشركة يتجاوز 60 مليون دولار في الشهر.
                
                تضم شركة آفاتريد مكاتب محلية وإقليمية في مختلف بلدان العالم بما في ذلك الإمارات العربية المتحدة و دبلن و ميلانو و طوكيو و سيدني وأبو ظبي بالاضافة الى المقر الرئيسي للشركة في دبلن، العاصمة الإيرلندية</p>
        </div>
    </div>
    <!-- start section best brokers -->
     <BestBroker />
    <!-- end section best brokers -->
    <!-- start section comment form -->
     <ComentForm />
    <!-- end section commetn form  -->
   
</div>
</Layout>

<style>
.main{
    margin-top: 150px;
}
.details{
    padding: 0;
}
.main-company{
    padding: 50px;
}
.company-img{
    width: 20%;
    padding: 30px;
    text-align: center;
}
.company-content{
    width: 60%;
}
.create-account{
    width: 20%

}
.article-head{
    margin-top: 20px;
    margin-bottom: 20px;
}
.create-account{
    text-align:center;
    width: 100%
}
.create-account .account{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: ;
}

.trade{
    float: right;
}
.trade button{
    min-width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #ddd;
    color: #222;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}
.trade button:hover{
    background-color: rgba(4, 112, 103, 0.627);
    color: #fff;
}
.details:not(:last-of-type){
    border-bottom: 2px solid rgba(4, 112, 103, 0.627);
}
.details div:first-child{
    width: 18%;
    padding: 30px;
}
.details div:first-child img{
    width: 20px;
    height: 20px;
}

/* global classes */
.container{
    width: 90%;
    margin: auto;
}
.head{
    font-size: 24px;
}
.material-symbols-outlined{
    line-height: 1.9rem;
}
@media(max-width:677px) {
    .trade button{
        margin-bottom: 10px;
    }
    .main{
    margin-top: 120px;
    }
    .details span{
        font-size:20px;
        text-align: center
    }
    .details div:first-child{
    width: 100%;
    padding: 30px 0;
    }
}

</style>

<script>
    //Fetch content from database
const getPosts = async () => {
    const res = await fetch("https://arabporsa.com/wp-json/wp/v2/posts");
    const posts = await res.json();
    console.log(posts)
}
getPosts()
</script>