---
import Layout from "../layouts/Layout.astro";
import Hero3 from "../components/sections/Hero3.astro";

import About_card from "../components/sections/About_card.astro";
import CTA from "../components/sections/CTA.astro";

import Coupn3 from "../components/sections/Coupn3.astro";
import HeroCoupon4 from "../components/sections/HeroCoupon4.astro";

---

<Layout title="CouponsCopy">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
           
   <HeroCoupon4/>   
<Hero3/>

<About_card/>




<div class="max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between mt-10">

    <div class="text-center">
        <p class="mt-4 text-sm leading-7 text-gray-500 font-regular">
        الخطوات
        </p>
        <h3 class="text-3xl sm:text-5xl leading-normal font-extrabold tracking-tight text-gray-900">
           كيف تحصل على 
           <br>
           
           
           <span class="text-teal-600">كوبون الثروة الشاملة؟</span>
        </h3>

    </div>

    <div class="mt-20">
        <ul class="md:grid md:grid-cols-3 md:col-gap-10 md:row-gap-10">

            <li class=" bg-gray-100 p-5 pb-10 text-center">
                <div class="flex flex-col items-center">
                    <div class="flex-shrink-0 relative top-0 -mt-16">
                        <div
                            class="flex items-center justify-center h-20 w-20 rounded-full bg-teal-500 text-white border-4 border-white text-xl font-semibold">
                            1
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4 class="text-lg leading-6 font-semibold text-gray-900">الاشتراك</h4>
                        <p class="mt-2 text-base leading-6 text-gray-500">
                           اختر الكوبون المناسب وقم بالاشتراك
                        </p>
                    </div>
                </div>
            </li>
            <li class=" bg-gray-100 p-5 pb-10 text-center">
                <div class="flex flex-col items-center">
                    <div class="flex-shrink-0 relative top-0 -mt-16">
                        <div
                            class="flex items-center justify-center h-20 w-20 rounded-full bg-teal-500 text-white border-4 border-white text-xl font-semibold">
                            2
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4 class="text-lg leading-6 font-semibold text-gray-900">التسجيل</h4>
                        <p class="mt-2 text-base leading-6 text-gray-500">
                          قم بالتسجيل من خلال منصة  من المنصات المرسحة لك
                        </p>
                    </div>
                </div>
            </li>
            <li class=" bg-gray-100 p-5 pb-10 text-center">
                <div class="flex flex-col items-center">
                    <div class="flex-shrink-0 relative top-0 -mt-16">
                        <div
                            class="flex items-center justify-center h-20 w-20 rounded-full bg-teal-500 text-white border-4 border-white text-xl font-semibold">
                            3
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4 class="text-lg leading-6 font-semibold text-gray-900">المكافأة</h4>
                        <p class="mt-2 text-base leading-6 text-gray-500">
بمجرد التسجيل ستحصل على الكاش باك وامكانية نسخ الصفات 
                        </p>
                    </div>
                </div>
            </li>

        </ul>
    </div>

</div>


<CTA />



   
</Layout>



