---
import Layout from "../layouts/LPL.astro";
import Container from "../components/shared/Container.astro";
import News from "../components/lp/News.astro";
import Hero2 from "../components/lp/Hero2.astro";
import Form from "../components/vue/Form.vue";
import Review from "../components/lp/Review.astro";
import Hero3 from "../components/lp/Hero3.astro";
import FQA from "../components/lp/FQA.astro";
import Carousel from "../components/lp/Carousel.astro";
import Thank from "../components/sections/Thank.vue";
import Services from "../components/sections/Services2.astro";
import Start from "../components/lp/Start.astro";
import Pop from "../components/shared/Pop.astro";
import Review_co from "../components/lp/Review_co.astro";
import Stocks from "../components/lp/Stocks.astro";
import Tawsiat from "../components/lp/Tawsiat.astro";
import Edu from "../components/lp/Edu.astro";
import Features from "../components/sections/Features.astro";
import About from "../components/lp/About.astro";

---

<Layout title="فلاجيدو">

<Pop/>
<Stocks/>


<About />

 


<Services />

<News/>
<Container>
<Tawsiat/>
<Hero2/>
<Edu/>

<Hero3/>

<Features />
<Thank client:only/>


<Review_co/>
<Start/>
<Form client:only="vue"/>


<FQA/>


<Carousel/>


   <Review/>  

    </main>
    
  </Container>
</Layout>
