---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";

import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Button from "../components/shared/Button.astro";
import Swip from "../components/sections/Swip.vue";
import NewFetuer from "../components/lp/NewFetuer.astro";



 
import Hero5 from "../components/lp/Hero5.astro";
---

<Layout title="CouponCopy- كوبونز كوبي لنسخ الارباح">

  <main class="flex flex-col gap-y-20 overflow-hidden mx-2 relative">


<div class="absolute top-0 left-0 w-full h-screen ">

  <Hero5 />

</div>





<div class=" bg-gradient-to-t from-black">  
    <Hero />

</div>


<NewFetuer />
    <Features />
 
    <Services />

    <CTA />
    <div class="flex justify-center">

 
      <h2 class="mt-8 text-center   text-3xl font-bold text-yellow-700">
      سجل مع افضل الوسطاء في الشرق الاوسط
    </h2>
    </div> 
    <Swip client:only />
  </main>
</Layout>
