---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";

import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Button from "../components/shared/Button.astro";
import Swip from "../components/sections/Swip.vue";
---

<Layout title="CouponCopy- كوبون كوبي لنسخ الارباح">
  <main class="flex flex-col gap-y-20 overflow-hidden">
    <Hero />

    <Features />

    <Services />

    <CTA />
    <div class="flex justify-center">

 
      <h2 class="mt-8 text-center   text-3xl font-bold text-yellow-700">
      سجل مع افضل الوسطاء في الشرق الاوسط
    </h2>
    </div> 
    <Swip client:only />
  </main>
</Layout>
