---
import Layout from "../layouts/Layout.astro";
import Container from "../components/shared/Container.astro";
import Paragaph from "../components/shared/Paragraph.astro";

---


<Layout title="الشروط والأحكام">
    <div class="mt-20" dir="rtl"> 
        <main class="flex flex-col gap-y-4 overflow-hidden">
        <Container className="flex flex-col gap-y-10">
            <Paragaph>
                <h2>الاستخدام العام</h2>
                <p>
                    مرحبًا بك في CouponsCopy، يُرجى قراءة هذه الشروط والأحكام بعناية قبل استخدام موقعنا. باستخدام هذا الموقع، فإنك توافق على هذه الشروط والأحكام بشكل كامل.
                </p>
            </Paragaph>
        </Container className="flex flex-col gap-y-10">

        <Container className="flex flex-col gap-y-10">
            <Paragaph>
                <h2>المسؤوليات</h2>
                <p>
                    نحن في CouponsCopy نلتزم بتوفير خدمة عالية الجودة، ولكننا لا نضمن صحة أو اكتمال المعلومات المقدمة على الموقع. يتحمل المستخدم المسؤولية الكاملة عن استخدام الموقع والاعتماد على المعلومات المتاحة فيه.
                </p>
            </Paragaph>
        </Container className="flex flex-col gap-y-10">

        <Container className="flex flex-col gap-y-10">
            <Paragaph>
                <h2>الخصوصية</h2>
                <p>
                    نحن نحترم خصوصية مستخدمينا. يرجى قراءة سياسة الخصوصية الخاصة بنا لفهم كيفية جمع واستخدام بياناتك الشخصية.
                </p>
            </Paragaph>
        </Container className="flex flex-col gap-y-10">

        <Container className="flex flex-col gap-y-10">
            <Paragaph>
                <h2>تعديل الشروط</h2>
                <p>
                    نحتفظ بالحق في تعديل هذه الشروط والأحكام في أي وقت دون إشعار مسبق. يفضل على المستخدمين مراجعة الشروط بشكل دوري للبقاء على اطلاع على التحديثات.
                </p>
            </Paragaph>
        </Container className="flex flex-col gap-y-10">
    </main>
</Layout>
