---
import Layout from "../layouts/Layout.astro";
import Hero2 from "../components/sections/Hero2.astro";
import Cards1 from  "../components/sections/Cards1.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Swip from "../components/sections/Swip.vue";

---

<Layout title="Welcome to AgenceX">
    <main class="flex flex-col gap-y-10 md:gap-y-32 overflow-hidden mt-5 md:mt-10 lg:mt-20">
           
       
<Hero2/>

<Cards1/>
    </main>

    <div class="flex justify-center">

 
        <h2 class="mt-8 text-center   text-3xl font-bold text-yellow-700">
        سجل مع افضل الوسطاء في الشرق الاوسط
      </h2>
      </div> 
    <Swip/ client:only>
</Swip>
   
</Layout>



