

<div class="company-info w-11/12 m-auto">
    <div class="article-1 text-right">
        <h1 class="article-head text-2xl my-5">تفاصيل ومعلومات شركة أفاتريد AvaTrade</h1>
    </div>
    <div class="details flex flex-col md:flex-row-reverse p-0 items-center">
        <div class="flex justify-end p-7">
            <span class="">منصات التداول</span>
            <span class="material-symbols-outlined leading-7 text-emerald-700 ml-2">  shopping_cart</span>
        </div>
        <div class="trade  float-right text-center mb-3 lg:mb-0">
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
        </div>
    </div>
    <div class="details flex flex-col md:flex-row-reverse items-center">
        <div class="flex justify-end p-7">
            <span>منتجات التداول</span>
            <span class="material-symbols-outlined leading-7 text-emerald-700 ml-2"> currency_pound </span>
        </div>
        <div class="trade  float-right  text-center mb-3 lg:mb-0">
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
        </div>
    </div>
    <div class="details flex flex-col md:flex-row-reverse items-center">
        <div class="flex justify-end p-7">
            <span>  طرق الإيداع والسحب</span>
            <span class="material-symbols-outlined leading-7 text-emerald-700 ml-2"> paid</span>
        </div>
        <div class="trade  float-right  text-center mb-3 lg:mb-0">
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
        </div>
    </div>
    <div class="details flex flex-col md:flex-row-reverse items-center">
        <div class="flex justify-end p-7">
            <span> حد الإيداع</span>
            <span class="material-symbols-outlined leading-7 text-emerald-700 ml-2"> payments  </span>
        </div>
        <div class="trade float-right text-center mb-3 lg:mb-0">
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
        </div>
    </div>
    <div class="details flex flex-col md:flex-row-reverse items-center">
        <div class="flex justify-end p-7">
            <span>التراخيص</span>
            <span class="material-symbols-outlined text-emerald-700 ml-2">description </span>
        </div>
        <div class="trade float-right text-center mb-3 lg:mb-0">
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
            <button>Ava Option</button>
        </div>
    </div>


    <style>


        /* .create-account{
            text-align:center;
            width: 100%
        } */
        
        
        
        .trade button{
            min-width: 100px;
            height: 30px;
            border: none;
            border-radius: 10px;
            outline: none;
            background-color: #ddd;
            color: #222;
            margin-right: 15px;
            transition: all 0.3s ease-in-out;
        }
        .trade button:hover{
            background-color: rgba(4, 112, 103, 0.627);
            color: #fff;
        }
        .details:not(:last-of-type){
            border-bottom: 2px solid rgba(4, 112, 103, 0.627);
        }
        
        .details div:first-child img{
            width: 20px;
            height: 20px;
        }
        
        /* global classes */
        
        
        @media(max-width:677px) {
            .trade button{
                margin-bottom: 10px;
            }
            .main{
            margin-top: 120px;
            }
            .details span{
                font-size:20px;
                text-align: center
            }
            .details div:first-child{
            width: 100%;
            padding: 30px 0;
            }
        }
        
        </style>