---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";


const footerCompany = [
    {
        itemText:"من نحن",
        itemLink:"/about"
    },
    {
        itemText:"السياسة والخصوصية",
        itemLink:"#"
    },
    {
        itemText:" الشروط والاحكام",
        itemLink:"#"
    }
  
]

---

<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl" dir="rtl">
    <div class="absolute right-0 top-0  w-full flex justify-end">
        <div class="w-28  overflow-hidden flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
    <Container className="pb-8 relative overflow-hidden">
        
        <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"></span>
   
           
                

    
                
            

           


        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://s6.imgcdn.dev/VA4y9.png" class="h-8" alt="couponsCopy" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">CouponsCopy</span>
            </a>
        </div>




        <div class="flex flex-col md:flex-row ">
            <div class="w-2/4 md:3/4">
                    
                <p class=" text-sm mt-5 dark:text-white "> هو موقع متخصص في التداول يقدم عروض نسخ الصفقات الحصرية مع كوبونات الخصم، مما يساعد المتداولين على تحقيق أهدافهم الاستثمارية بأفضل طريقة ممكنة.</p>
             </div>


            <ul class="  flex flex-row  justify-center m-10 items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 mx-auto">
                <h3>
                    <a href="/about" class="hover:underline me-4 m-5 ">من نحن</a>
                </h3>
               
                <h3>
                    <a href="/terms" class="hover:underline m-5 "> الشروط والاحكام</a>
                 </h3>

                 <h3>
                    <a href="https://wa.me/201063588999" class="hover:underline m-5 "> اتصل بنا</a>
                 </h3>
            </ul>
        </div>
    </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="couponsCopy.com" class="hover:underline">CouponsCopy™</a>. جميع الحقوق محفوظة.</span>
    </div>
</footer>


          
        </div>
    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        
    </div>
</footer>