---

import Layout from "../../layouts/Layout.astro"
// import ComentForm from "../../components/shared/ComentForm.astro"
import CompanyService from "../../components/CompanyService.astro"
import BrokerList from "../../components/React/BrokerList.jsx"
import Form from "../../components/vue/Form.vue"

const {name} = Astro.params;

---

<Layout title="تفاصيل الوسيط" description="">

        <div class="article-1 text-right">  
            <BrokerList client:load name={name}/>
            <CompanyService />
        </div>
       
        <!-- start section comment form -->
        <Form client:only="vue" />
            <!-- <ComentForm /> -->
        <!-- end section commetn form  -->
   
    </div>
  
</Layout>


