---
import Footer from "../components/elements/Footer.astro";
import Navbar from "../components/elements/Navbar.astro";


export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href=https://res.cloudinary.com/dt9k74vof/image/upload/v1716376469/favicon-32x32_ziyh5p.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dt9k74vof/image/upload/v1716376565/apple-touch-icon_onnava.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dt9k74vof/image/upload/v1716376469/favicon-16x16_stjtmz.png">

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Explore Our exclusive coupons for copy trading on CouponsCopy. Unlock special benefits, including free copy trading days, cashback bonuses, and elite trading packages. Enhance your trading experience with guaranteed profits and a money-back guarantee.">
    <title> {title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;500;900&display=swap" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>
  <body class="overflow-hidden overflow-y-auto bg-body">
    <Navbar />
    <slot />
  
    <Footer />
  </body>
  <script>
    const switchTheme = document.querySelector(
      "[data-switch-theme]"
    ) as HTMLButtonElement;

    if (
      localStorage.getItem("appTheme") === "dark" ||
      (!("appTheme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
    if (switchTheme) {
      switchTheme.addEventListener("click", (e) => {
        e.preventDefault();
        const doc = document.documentElement;
        if (doc) {
          if (localStorage.getItem("appTheme")) {
            if (localStorage.getItem("appTheme") === "light") {
              doc.classList.add("dark");
              localStorage.setItem("appTheme", "dark");
            } else {
              document.documentElement.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            }
          } else {
            if (doc.classList.contains("dark")) {
              doc.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            } else {
              doc.classList.add("dark");
              localStorage.setItem("appTheme", "dark");
            }
          }
        }
      });
    }
  </script>
  <script>
    const toggleMenu = document.querySelector(
      "[data-toggle-nav]"
    ) as HTMLButtonElement;
    const navbar = document.querySelector("[data-navbar]") as HTMLDivElement;
    const overlayNav = document.querySelector(
      "[data-nav-overlay]"
    ) as HTMLDivElement;
    if (toggleMenu) {
      toggleMenu.addEventListener("click", e => {
        e.preventDefault();
        if (toggleMenu.getAttribute("data-open-nav") === "false") {
          toggleMenu.setAttribute("data-open-nav", "true");
          overlayNav.setAttribute("data-is-visible", "true");
          document.body.classList.add("!overflow-y-hidden");
		  navbar.style.height = `${navbar.scrollHeight}px`

        }else{
			toggleMenu.setAttribute("data-open-nav", "false");
        	overlayNav.setAttribute("data-is-visible", "false");
        	document.body.classList.remove("!overflow-y-hidden");
		  	navbar.style.height = "0px"
		}
		
        
      });

      navbar.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
		  	navbar.style.height = "0px"
      });

      overlayNav.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        	overlayNav.setAttribute("data-is-visible", "false");
        	document.body.classList.remove("!overflow-y-hidden");
		  	navbar.style.height = "0px"
      });
    }
  </script>
    <script is:inline>
      $(function () {
        // Fetch the user's IP address using an external API
        $.getJSON('https://api.ipify.org?format=json', function(data) {
          const userIp = data.ip;
    
          // Form submission handler
          $("#myForm").on("submit", function (e) {
            e.preventDefault();
            
            // Collect form input values
            var name1 = $("input[name='first_name']").val();
            var email = $("input[name='email']").val();
            var phone = $("input[name='phone']").val();
    
            // Prepare form data including user IP
            var formdata = {
              name1: name1,
              lastName: "Coupons",
              email: email,
              phone: phone,
              password: "Flagedu2023!@",
              source: "CouponsCopy Homepage",
              interest: "coupons",
              user_ip: userIp, // Add user IP here
              ci: "{{ ci }}",
              uai: "{{ uai }}",
              ani: "{{ ani }}",
            };
    
            console.log(formdata);
    
            // Define the URL for the API request
            var url = "https://alltargeting.com/api/method/heero.api.flagedu_lead";
    
            // Send the form data via AJAX POST request
            $.ajax({
              method: "POST",
              dataType: "json",
              contentType: "application/json",
              data: JSON.stringify(formdata),
              headers: {
                "Content-Type": "application/json",
              },
              url: url,
              success: function (response) {
                console.log(response);
                // Redirect to a thank you page on success
                location.href = `/thanks`;
              },
              error: function (data, textStatus, xhr) {
                var err_msg = [];
                var status = data.status;
                console.log(data);
    
                if (status == 400) {
                  // Handle 400 errors and display them
                  for (const [key, value] of Object.entries(data.responseJSON)) {
                    err_msg.push(`<p style='color: red;'>${value}</p>`);
                  }
                }
                if (status == 500) {
                  // Handle 500 errors and display a generic message
                  var msg = "<p style='color: red;'>Something went wrong! Try again!</p>";
                  err_msg.push(msg);
                }
                for (var i = 0; i < err_msg.length; i++) {
                  $("#error_msg").html(err_msg[i]);
                }
              },
            });
          });
        });
      });
    </script>
    
</html>
<style is:global>
  :root {
    --color-bg: 255 255 255;
    --color-border: 255 255 255;
    --color-box: 255 255 255;
    --box-border: 229 231 235;
    --box-sd: 226 232 240 / 0.5;
	--heading-1:  23 37 84;
	--heading-2: 31 41 55;
	--heading-3: 55 65 81;
  }

  .dark {
  
    --color-bg:  24 43 41  ;
    --color-box: 17 24 39;
    --box-border: 243 244 246/0.1;
    --box-sd: transparent;

	
	--heading-1:  255 255 255;
	--heading-2:  243 244 246;
	--heading-3:  209 213 219;
  }

  html{
    scroll-behavior: smooth;
  }
*{

    @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;900&display=swap');
    font-family: 'Tajawal', sans-serif;
  }

  [data-toggle-nav][data-open-nav="true"] #line1 {
    transform: translateY(0.375rem) rotate(40deg);
  }
  [data-toggle-nav][data-open-nav="true"] #line2 {
    transform: scaleX(0);
    opacity: 0;
  }
  [data-toggle-nav][data-open-nav="true"] #line3 {
    transform: translateY(-0.375rem) rotate(-40deg);
  }

  
  [data-nav-overlay][data-is-visible="true"] {
    visibility: visible;
    display: flex;
  }
</style>
